<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
	  
		<div class="card text-center mt-5">
		  
	<!-- form busqueda categorias START -->
	
	<div class="row">
	  
  <div class="col-8">
    <form action="/date" method="GET">
      <label for="exampleInputEmail1">Buscar por fecha</label><br>
        <div class="input-group input-daterange">
            <div class="input-group-addon">Desde</div>
            <input type="date"name="start"  class="form-control">
            <div class="input-group-addon">Hasta</div>
            <input type="date" name="end" class="form-control">
            <input type="text" value="<%= 1 %>" name="admin" style="display:none">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
    
    <!-- form busqueda Fecha END -->
    
  </div>
  
			<div class="card-body">
          <img width="100px" src="https://pbs.twimg.com/profile_images/836695399809302528/568l42NJ_400x400.jpg">
				<h1>
				<span class="fa fa-block"></span>Test del link <%=  %></h1>
				<table class="table">
				  <% if(val==1){ %>No hay datos disponibles para esta busqueda <% }else{ %>
          <thead>
          <tr>
            <th>Access Code</th>
            <th>Puntos Obtenidos</th>
            <th>Tiempo</th>
            <th>Categoría(s)</th>
            <th>Link</th>
            <th>Instructor</th>
            <th>Fecha</th>
          </thead>
          <tbody>
          <% result.forEach(function(items) { %> 
          <tr>
          <!-- Filtrar id_inst con id capturado del instructor -->
          
         
            <td><%= items.access_code %></td>
            <td><%= items.points_scored %></td>
            <td><%= items.duration %> </td>
            <% if(items.category_results){ %>
            <td>
            <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
            <%= items.category_results[i].name %><br> <% } %>  
            </td><% } %>
            <td><%= items.link_url_id %></td>
            <td>
            <%longUser=(User.length); for(i=0; i<longUser; i++){ if((User[i].id)==(items.id_inst)){%>
            <%= User[i].local.email %><% }} %>  
            </td>
            <td>
                <% function timeConverter(UNIX_timestamp)
                {
                   var a = new Date(UNIX_timestamp * 1000);
                   var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
                   var year = a.getFullYear();
                   var month = months[a.getMonth()];
                   var date = a.getDate();
                   var hour = a.getHours();
                   var min = a.getMinutes();
                   var sec = a.getSeconds();
                   var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
                   return time;
                }
                %><%= timeConverter(items.time_started) %>
            </td>
            <% }); %>
          </tbody>
          <% } %>
          </table>
			</div>
		</div>
	</div>
</body>
</html>
