<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

   <% include partials/left_column %>


  <div class="main-panel">
      <% include partials/navbar %>
      <div class="content">
          <div class="container-fluid">
              <div class="row">

                  <div class="col-md-12 card">
                    <form action="/date" method="GET">
                      <label for="exampleInputEmail1">Buscar por fecha</label><br>
                        <div class="input-group input-daterange">
                            <div class="input-group-addon">Desde</div>
                            <input type="date"name="start" class="form-control">
                            <div class="input-group-addon">Hasta</div>
                            <input type="date" name="end" class="form-control">
                            <input type="text" value="<%= 1 %>" name="admin" style="display:none">
                        </div>
                        <button style="margin-bottom: 20px; margin-top: 20px;" type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                  </div>

                  <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                          <div class="card-header ">
                              
                            <!-- Search Bar Start -->
                            <form action="/adminsearch">
                            <h3>Barra de busqueda.</h3>
                            <div class="form-group row" >
                            <div class="col-8">
                              <input class="form-control" type="search" name="search" placeholder="Buscar link o test o access code" />
                            </div>
                            <div class="col-2">
                              <button class="btn btn-light">Buscar</button>
                            </div>
                            </div>
                            </form>
                            <!-- Search Bar End -->
                          
                          <div class="card-body table-full-width table-responsive">
                              <table class="table table-hover table-striped">
                                  <% if(val==1){ %>No hay datos disponibles para esta busqueda <% }else{ %>
                                    <thead>
                                    <tr>
                                      <th>Código de acceso</th>
                                      <th>Puntos Obtenidos</th>
                                      <th>Tiempo</th>
                                      <th>Categoría(s)</th>
                                      <th>Instructor</th>
                                      <th>Fecha</th>
                                    </thead>
                                    <tbody>
                                    <% result.forEach(function(items) { %> 
                                    <tr>

                                      <td><%= items.access_code %></td>
                                      <td><%= items.points_scored %></td>
                                      <td><%= items.duration %> </td>
                                      <% if(items.category_results){ %>
                                      <td>
                                      <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
                                      <%= items.category_results[i].name %><br> <% } %>  
                                      </td><% } %>
                                      <td>
                                      <!--consultor-->
                                      <%longUser=(User.length); for(i=0; i<longUser; i++){ if((User[i].id)==(items.id_inst)){%>
                                      <%= User[i].local.email %><% }} %>  
                                      </td>
                                      <td>
                                          <% function timeConverter(UNIX_timestamp)
                                          {
                                             var a = new Date(UNIX_timestamp * 1000);
                                             var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
                                             var year = a.getFullYear();
                                             var month = months[a.getMonth()];
                                             var date = a.getDate();
                                             var hour = a.getHours();
                                             var min = a.getMinutes();
                                             var sec = a.getSeconds();
                                             var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
                                             return time;
                                          }
                                          %><%= timeConverter(items.time_started) %>
                                      </td>
                                      <% }); %>
                                    </tbody>
                                    <% } %>
                              </table>
                          </div>
                          
                         </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  </div>

	
</body>
</html>
