<!DOCTYPE html>
<html>
<head>
  <title lang="es">Busqueda Consultor</title>
  <title lang="en">Busqueda Consultor</title>
	<% include partials/head %>
	 
<body>

   <% include partials/left_column %>


  <div class="main-panel">
      <% include partials/navbar %>

      <div class="content">
          <strong lang="es">Consultor</strong><strong lang="en">Consultant</strong> : <% iduser=user.local.email %><%= iduser %> <br>   <br>
          <div class="container-fluid">
            
              <div class="row">
             
                <%if(typeof result !== "undefined"){%>
              <%if(result==""){%>
                <div class="col-md-12">
                   <div class="card strpied-tabled-with-hover">
                      <div lang="es" class="card-header ">
                         No hubo resultado para la busqueda. <br><br>
                      </div>
                      <div lang="en" class="card-header ">
                         Sorry, there wasn't result for the search. <br><br>
                      </div>
                   </div>
                </div>
                <% }  else {%>
                
                  <div class="col-4" style="margin: 20px;" >
                        <% if(sa==1){ var actionsearchdate = "/adminsearchandlink"}else{actionsearchdate = "/searchandlink"} %>
                        <form action=<%=actionsearchdate%> method="GET">
                        <label lang="es" for="exampleInputEmail1">Buscar por categoria</label>
                        <label lang="en" for="exampleInputEmail1">Buscar por categoria</label>
                        <br />
                        <select name="search" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                           <% a = [] 
                        result.forEach(function(items){ 
                           if(items.category_results){ 
                              long=(items.category_results.length)
                                 for(i=0; i<long; i++){ 
                                    if(!a.includes(items.category_results[i].name)){
                                       a.push(items.category_results[i].name)
                                    }
                                    %>
                                  <% } %>  
                           <% } %>
                         <% } )%>
                         ¡¡
                         <%for(i=0;i<a.length;i++){%>
                         <option value="<%= a[i] %>"><%= a[i] %></option>
                         <% } %>
                           
                          
                        </select>
                        <input type="text" value="<%= url %>" name="id" style="display:none">
                        <%if((typeof date_start !== "undefined")&&(typeof date_end !== "undefined")){%>
                        <input type="text" id="from" name="start" required="" value="<%= date_start %>" style="display:none">
                        <input type="text" id="to" name="end" required="" value="<%= date_end  %>" style="display:none">
                        <% } %>
                        <%if(typeof busqueda !== "undefined"){%>
                        <input type="text" name="busqueda_get"  value="<%= busqueda  %>" style="display:none">
                        <% }else if(typeof busqueda_get !== "undefined"){ %>
                        <input type="text" name="busqueda_get"  value="<%= busqueda_get  %>" style="display:none">
                        <% } %>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                     </form>
                          <br>
                      </div>
                      
                     
                      <div class="col-7" style="margin: 20px;" >
                    <form action="/date" method="GET">
                      <label for="exampleInputEmail1">Buscar por fecha</label>
                      <br/>
                      <div class="input-daterange input-group" id="datepicker">
                        <div class="input-group-addon">Desde</div>
                        <input type="text" id="from" name="start" required="">
                        <div class="input-group-addon">Hasta</div>
                        <input type="text" id="to" name="end" required="">
                        <input type="text" value="<%= url %>" name="id" style="display:none">
                        <%if(typeof busqueda !== "undefined"){%>
                        <input type="text" name="busqueda_get"  value="<%= busqueda  %>" style="display:none">
                        <% }else if(typeof busqueda_get !== "undefined"){ %>
                        <input type="text" name="busqueda_get"  value="<%= busqueda_get  %>" style="display:none">
                        <% } %>
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Buscar</button>
                        
                      </div>

                    </form>


                    <script>
                      $( function() {
                        var dateFormat = "yyyy-mm-dd",
                          from = $( "#from" )
                            .datepicker({
                              dateFormat: "yy-mm-dd",
                              defaultDate: "+1w",
                              changeMonth: true,
                              numberOfMonths: 1
                            })
                            .on( "change", function() {
                              to.datepicker( "option", "minDate", getDate( this ) );
                            }),
                          to = $( "#to" ).datepicker({
                            dateFormat: "yy-mm-dd",
                            defaultDate: "+1w",
                            changeMonth: true,
                            numberOfMonths: 1
                          })
                          .on( "change", function() {
                            from.datepicker( "option", "maxDate", getDate( this ) );
                          });
                    
                        function getDate( element ) {
                          var date;
                          console.log(element.value)
                          try {
                            date = $.datepicker.parseDate( dateFormat, element.value );
                          } catch( error ) {
                            date = null;
                          }
                          return date;
                        }
                      } );
                    </script>
                        </div>
                  
                  <div class="col-md-12">
                    <a href="/profile">Restablecer Búsqueda</a>
                     <br><br>
                      <div class="card strpied-tabled-with-hover">
                          <div class="card-header ">
                              
                            <%
                            var date_s=''
                            var date_e=''
                            const isset_s = (date_start) => typeof date_start !== 'undefined' 
                            typeof date_start=='undefined'?date_s='':date_s=date_start
                            const isset_e = (date_end) => typeof date_end !== 'undefined' 
                            typeof date_end=='undefined'?date_e='':date_e=date_end
                            %>
                            <%if((date_s&&date_e)!=''){%>
                            <p>Busqueda realizada entre <%= date_s %> y <%= date_e %></p>
                            <%}else{%><p></p><%}%>
                            
                            <!-- Search Bar Start -->
                            <!--<form action="/consultor_search">
                            <h3>Barra de busqueda.</h3>
                            <div class="form-group row" >
                            <div class="col-8">
                                <%
                                var busq=''
                                const isset = (busqueda) => typeof busqueda !== 'undefined' 
                                typeof busqueda=='undefined'?busq='':busq=busqueda
                                %>
                              <input class="form-control" type="search" name="search" placeholder="Buscar link o test o access code" value="<%= busq  %>" required/>
                            </div>
                            <div class="col-2">
                              <button class="btn btn-light">Buscar</button>
                            </div>
                            </div>
                            </form>-->
                            <!-- Search Bar End -->
                           

                          <div class="card-body table-full-width table-responsive">
                           
                              <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                      <th>Código de acceso</th>
                                      <th>Porcentaje</th>
                                      <th>Tiempo</th>
                                      <th>Categoría(s)</th>
                                      <th>Evaluación</th>
                                      <th>Fecha</th>
                                      <th></th>
                                    </thead>
                                    <tbody>
                                         
                                    <% result.forEach(function(items) { %>
                                    
                                    <tr>
                                      <td><%= items.access_code %></td>
                                      <td><%= items.percentage %>%</td>
                                      <td><%= items.duration %> </td>
                                      <% if(items.category_results){ %>
                                      <td>
                                      <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
                                      <%= items.category_results[i].name %><br> <% } %>  
                                      </td><% } %>
                                      
                                      <td>
                                      <% let doubled = lresult.map(res => { %>
                                      <%if(items.link_url_id==res.link_url_id){%>
                                      <%= res.link_name %>
                                      <% } } ) %>
                                     </td>
                                      
                                      <td>
                                          <% function timeConverter(UNIX_timestamp)
                                          {
                                             var a = new Date(UNIX_timestamp * 1000);
                                             var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
                                             var year = a.getFullYear();
                                             var month = months[a.getMonth()];
                                             var date = a.getDate();
                                             var hour = a.getHours();
                                             var min = a.getMinutes();
                                             var sec = a.getSeconds();
                                             var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
                                             return time;
                                          }
                                          %><%= timeConverter(items.time_started) %>
                                      </td>
                                      <td><a href="viewinfo/<%=items.access_code%>">Ver detalles</a></td>
                                      </tr>
                                      
                                      <% }); %>
                                    </tbody>
                              </table>
                              
                          </div>
                          <% } } %>
                         </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  </div>

	
</body>
</html>
