<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
	  
		<div class="card text-center mt-5">
		  
		  <!-- form busqueda categorias START -->
		  
		  <form action="/search" method="GET" class="form-inline">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Categoria...</label>
          <select name="search" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <% long_cat = cat.length; for(i=0; i<long_cat; i++) { %>  
              <option value="<%= cat[i].name %>"><%= cat[i].name %></option>
              <% }%>
          </select>
          <input type="text" value="<%= url %>" name="id" style="display:none">
            <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
      
     <!-- form busqueda categorias END -->
     
			<div class="card-body">
          <img width="100px" src="https://pbs.twimg.com/profile_images/836695399809302528/568l42NJ_400x400.jpg">
				<h1>
				<span class="fa fa-block"></span>Test del link <%= url %></h1>
				<table class="table">
				  <% if(val==1){ %>No hay datos disponibles para esta busqueda <% }else{ %>
          <thead>
          <tr>
            <th>Access Code</th>
            <th>Puntos Obtenidos</th>
            <th>Tiempo</th>
            <th>Categoría(s)</th>
          </tr>
          </thead>
          <tbody>
          <% item.forEach(function(items) { %> 
          <tr>
          <!-- Filtrar id_inst con id capturado del instructor -->
          
          <% if((items.link_url_id)==(url)){ %>
            <td><%= items.access_code %></td>
            <td><%= items.points_scored %></td>
            <% time = items.time_finished - items.time_started; den="seg"; if(time>=60 && time<3600){(time=time/60) && (den="min")}else if(
            time>=3600){(time=time/3600) && (den="Hora")} %>
            <td><%= time.toFixed(2) + den %> </td>
            <% if(items.category_results){ %>
            <td>
            <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
            <%= items.category_results[i].name %><br> <% } %>  
            </td><% } %>
            <% } }); %>
          </tbody>
          <% } %>
          </table>
			</div>
		</div>
	</div>
</body>
</html>
