<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
                <img width="100px" src="https://pbs.twimg.com/profile_images/836695399809302528/568l42NJ_400x400.jpg">
				<h1>
				<span class="fa fa-block"></span>LISTA USUARIOS DE </h1>
				<table class="table"> 
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Pass</th>
                            <th>Opción 1</th>
                            <th>Opción 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% items.forEach(function(item) { %> 
                          <tr>
                            <% if(item.local) {%>
                            <!-- Muestra solo instructores -->
                              <% if(!item.sa){ %>
                                <td><%= item._id %></td>
                                <td><%= item.local.email%></td>
                                <td><%= item.local.password %></td>
                                <!-- Se envia por GET el id del instructor -->
                                <td><a href="/newlink/<%= item._id %>"><button>Asociar Link</button></a></td>
                                <td><a href="/link_inst/<%= item._id %>"><button>Ver Links</button></a></td>
                          </tr>
                          <% }}}); %>
                        </tbody>
          </table>
			</div>
		</div>
	</div>

</body>
</html>
