<!DOCTYPE html>
<html lang="en">
<head>
	<title>Resultados por Evaluación</title>
	<% include partials/head %>
</head>
<body>

     <% include partials/left_column %>

    <div class="main-panel">
        
        <% include partials/navbar %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <% if((typeof access_code !== 'undefined')&&(typeof existe !== 'undefined')){ 
                    if(existe==2){
                    %>
                    <div class="alert alert-success" role="alert">
                       <strong>Código de accesso!</strong><h3><%= access_code %> </h3> agregado con éxito.
                    </div>
                    <% }else if(existe==1){ %>
                    <div class="alert alert-danger" role="alert">
                       <strong>Código de accesso </strong><h3><%= access_code %> </h3>ya registrado.
                    </div>  
                    <% }
                    } %>
                   
                    
                    
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Instructores</h4>
                                <p class="card-category">Lista de asistentes creados desde Classmarker.</p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Correo electrónico</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <% items.forEach(function(item) { %> 
                                          <tr>
                                            <% if(item.local) {%>
                                            <!-- Muestra solo instructores -->
                                              <% if(item.sa==0){ %>
                                                <td><%= item.local.email%></td>
                                                <!-- Se envia por GET el id del instructor -->
                                                <td><a href="/newlink/<%= item._id %>">Asociar código de accesso</a></td>
                                                <td><a href="/link_inst/<%= item._id %>">Ver enlace</a></td>
                                          </tr>
                                          <% }}}); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>

</body>
</html>
