<!DOCTYPE html>
<html>

<head>
    <title lang="es">Listado de participantes</title>
    <title lang="en">Participants</title>
    <% include partials/head %>
</head>

<body>

    <div class="main-panel">

        <% include partials/navbar %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <%
                            var code_repetido = []
                            var enlace = []
                                participantes.forEach(function(participante) { 
                                    code_repetido.push(participante.access_code)
                                    lresult.forEach(function(lr){
                                        if(participante.link_url_id==lr.link_url_id){
                                            enlace.push(lr.link_name)
                                            }
                                        })
                                    })
                                 
                            var disponibles = []        
                            participantes_totales.forEach(function(participante_t) {
                                disponibles.push(participante_t.access_code)
                            })
                            
                            %>
                            
                        <div class="col-md-4">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-body">
                                    <h6 lang="es" class="card-subtitle mb-2 text-muted">Códigos de acceso utilizados</h6>  
                                    <h6 lang="en" class="card-subtitle mb-2 text-muted">Access code used</h6>    
                                    <h2 class="card-title text-center">
                                    <%= enlace.length %>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-body">
                                    <h6 lang="es" class="card-subtitle mb-2 text-muted">Códigos de acceso disponibles</h6>   
                                    <h6 lang="en" class="card-subtitle mb-2 text-muted">Access code available</h6>    
                                    <h2 class="card-title text-center">
                                        <%= (disponibles.length)-(enlace.length) %>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-body">
                                    <h6 lang="es" class="card-subtitle mb-2 text-muted">Códigos de acceso Totales</h6>
                                    <h6 lang="en" class="card-subtitle mb-2 text-muted">Total access code</h6>     
                                    <h2 class="card-title text-center">
                                        <%= (disponibles.length) %>
                                    </h2>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-md-12">
                            
                            
                            
                            <div class="card strpied-tabled-with-hover">
                                
                            
                                
                                <div class="card-header ">
                                    <h4 lang="es" class="card-title">Mis Participantes</h4>
                                    <h4 lang="en" class="card-title">My participants</h4>
                                    <p lang="es" class="card-category">Listado de los participantes asignados a mi perfil.</p>
                                    <p lang="en" class="card-category">List of participants assigned to my profile.</p>
                                    <br /> 
                                </div>
                                
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr lang="es">
                                                <th>Código de Acceso</th>
                                                <th>Nombre de enlace de Evaluación</th>
                                                <th></th>
                                            </tr>
                                            <tr lang="en">
                                                <th>Access code</th>
                                                <th>Link name</th>
                                                <th></th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            
                                           <% 
                                            var it=5
                                            var code_repetido = []
                                            var enlace = []
                                            participantes.forEach(
                                                function(participante) { 
                                                    code_repetido.push(participante.access_code)
                                                    lresult.forEach(function(lr){
                                                        if(participante.link_url_id==lr.link_url_id){
                                                            enlace.push(lr.link_name)
                                                        }
                                                    })
                                            })
                                            
                                            

                                            participantes_totales.forEach(function(p_totales,index){

                                            %>
                                            
                                            <tr>
                                                <% 
                                                    if(code_repetido.includes(p_totales.access_code)){ %>
                                                        <td style="color: red; text-decoration: line-through;">
                                                            <%=p_totales.access_code %>
                                                        </td>
                                                        <td>
                                                            <%lresult.forEach(function(lr){ %>
                                                            <%participantes.forEach(function(participante){%>
                                                            <% if(participante.access_code==p_totales.access_code){ %>
                                                            <% if(participante.link_url_id==lr.link_url_id){ %>
                                                            <%= lr.link_name %>
                                                            <% } %>
                                                            <% } }) %>
                                                            <% }) %>
                                                        </td>
                                                        <td>
                                                            <a lang="es" href="/viewinfo/<%=p_totales.access_code%>">Ver Detalles</a>
                                                            <a lang="en" href="/viewinfo/<%=p_totales.access_code%>">Details</a>
                                                        </td>
                                                    <%
                                                    }else{ %>
                                                        <td>
                                                            <%= p_totales.access_code %>
                                                        </td>
                                                        <td lang="es" style="color: #ccc; font-weight: light;">Código sin usar</td>
                                                        <td lang="en" style="color: #ccc; font-weight: light;">Access code without using</td>
                                                        <td></td>
                                                    <% } %>
                                                        
                                            </tr>        
                                            <% }) %>  
                                        
                                        </tbody>
                                        

                                    </table>
                                </div>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>


        <% include partials/left_column %>
            </div>

</body>

</html>