<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <% include partials/head %>
</head>

<body>
    <% include partials/left_column %>
        <div class="main-panel">
            <% include partials/navbar %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <%if (user.sa==2){%>
                                <div class="col-md-12">
                                    <div class="card container-fluid">
                                        <div class="card-header">
                                            <h4 class="card-title" lang="es">Resumen de consumo de evaluación.</h4>
                                            <h4 class="card-title" lang="en">Assessment usage summary.</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-container table-responsive" style="position: relative; height: 25vh;">
                                                <canvas id="codes"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                <%if(user.sa==0){%>
                                <div class="col-md-12">
                                    <div class="card container-fluid">
                                        <div class="card-header">
                                            <h4 class="card-title" lang="es">Códigos disponibles</h4>
                                            <h4 class="card-title" lang="en">Available Codes</h4>
                                        </div>

                                        <!--*******************************************-->
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <%var count=0
                                                        for(var i=0; i<5;i++){
                                                            if(count==data.codes.length){
                                                            break}%>
                                                            <tr>
                                                                <%for(var j=0; j<10;j++){
                                                                if(count==data.codes.length){
                                                                break}%>                                                      
                                                                <td>
                                                                    <%=data.codes[count].code%>
                                                                </td>
                                                                <%count++;}%>   
                                                            </tr>
                                                        <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--*******************************************-->


                                    </div>
                                </div>
                                <%}%>

                                    <%if(user.sa==0||user.sa==2){
           data.tests.forEach((test,index)=>{%>
                                        <div class="col-md-12">
                                            <div class="card container-fluid">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        <%=test.name%>
                                                    </h4>
                                                    <a href="https://www.classmarker.com/online-test/start/?quiz=<%=test.link_url_id%>"  target="_blank">https://www.classmarker.com/online-test/start/?quiz=<%=test.link_url_id%></a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6 my-auto">
                                                            <div class="card container-fluid mx-auto">
                                                                <div class="card-header">
                                                                    <h4 class="card-title" lang="es">Promedio del país de la prueba de conocimiento </h4>
                                                                    <h4 class="card-title" lang="en">Knowledge Test Country Average</h4>
                                                                </div>
                                                                <div class="card-body text-center">
                                                                    <h2 class="card-title">
                                                                        <%=test.average%> %</h2>
                                                                    <%if(user.sa==0){%>
                                                                    <h5 class="card-subtitle mb-2 text-muted" lang="es">
                                                                        <a href="/test_view/<%=test.id%>/<%=user._id%>">
                                                                            <%=test.number_of_results%> Resultados</a>
                                                                    </h5>
                                                                    <h5 class="card-subtitle mb-2 text-muted" lang="en">
                                                                        <a href="/test_view/<%=test.id%>/<%=user._id%>">
                                                                            <%=test.number_of_results%> Results</a>
                                                                    </h5>
                                                                    <%} else if(user.sa==2){%>
                                                                    <h5 class="card-subtitle mb-2 text-muted" lang="es"> <%=test.number_of_results%> Resultados</h5>
                                                                    <h5 class="card-subtitle mb-2 text-muted" lang="en"> <%=test.number_of_results%> Results</h5>
                                                                    <%}%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-3 my-auto">
                                                            <div class="card container-fluid mx-auto">
                                                                <div class="card-header">
                                                                    <h4 class="card-title" lang="es">Códigos</h4>
                                                                    <h4 class="card-title" lang="en">Codes</h4>
                                                                </div>
                                                                <div class="card-body text-center">
                                                                    <div class="chart-container responsive" style="position: relative; height: 22vh;">
                                                                        <canvas id="myChart<%=index%>"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-6 my-auto">
                                                            <%if(user.sa==0){%>
                                                            <div class="card container-fluid mx-auto">
                                                                <div class="card-header">
                                                                    <h4 class="card-title" lang="es">Últimos resultados de la prueba de conocimientos</h4>
                                                                    <h4 class="card-title" lang="en">Latest Knowledge Test Results</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-striped table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col" style="width:30%" class="text-center" lang="es">Código</th>
                                                                                    <th scope="col" style="width:30%" class="text-center" lang="en">Code</th>
                                                                                    <th scope="col" style="width:30%" class="text-center" lang="es">Fecha</th>
                                                                                    <th scope="col" style="width:30%" class="text-center" lang="en">Date</th>
                                                                                    <th scope="col" style="width:10%" class="text-center" lang="es">Resultado</th>
                                                                                    <th scope="col" style="width:10%" class="text-center" lang="en">Result</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% test.results.forEach(result=>{%>
                                                                                    <tr>
                                                                                        <td class="text-center">
                                                                                            <a href="/test_result/<%=result.id%>">
                                                                                                <%=result.code%>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            <%=result.date%>
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            <%=result.percentage%>%</td>
                                                                                    </tr>
                                                                                    <%})%>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%} else if(user.sa==2){%>
                                                            <div class="card container-fluid">
                                                                <div class="card-header">
                                                                    <h4 class="card-title" lang="es">Prueba de Conocimiento, Promedio del País por Categoría</h4>
                                                                    <h4 class="card-title" lang="en">Knowledge Test Country Average per Category</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-hover table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="width: 40%" lang="es">Categoría</th>
                                                                                    <th style="width: 40%" lang="en">Category</th>
                                                                                    <th style="width: 30%" lang="es" class="text-center">Promedio</th>
                                                                                    <th style="width: 30%" lang="en" class="text-center">Average</th>
                                                                                    <th style="width: 10%">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                                                    <th style="width: 20%" lang="es" class="text-center">Respuestas</th>
                                                                                    <th style="width: 20%" lang="en" class="text-center">Answers</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% data.summary[index].forEach(category=>{%>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <%=category.name%>
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            <div class="progress">
                                                                                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=category.average%>%; background-color: #2A627B;" aria-valuenow="<%=category.average%>" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                                <div class="progress-value"><b><%=category.average%>%</b></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td></td>
                                                                                        <td class="text-center">
                                                                                            <%=category.points_scored%>/
                                                                                                <%=category.points_available%>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <%})%>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                        </div>
                                                        <!-- <div class="col-md-3 my-auto">
                                                            <a class="card container-fluid mx-auto">
                                                                <div class="card-header">
                                                                    <h4 class="card-title" lang="es">Códigos disponibles</h4>
                                                                    <h4 class="card-title" lang="en">Available Codes</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <%var count=0
                              for(var i=0; i<4;i++){
                                if(count==test.codes.created_array.length){
                                break}%>
                                                                                    <tr>
                                                                                        <%for(var j=0; j<4;j++){
                                  if(count==test.codes.created_array.length){
                                    break}
                                    if(i==3 && j==3){%>
                                                                                            <td><a href="/test_view/<%=test.id%>/<%=user._id%>" lang="es">más</a>
                                                                                                <a href="/test_view/<%=test.id%>/<%=user._id%>" lang="en">more</a></td>
                                                                                            <%}else{%>
                                                                                                <td>
                                                                                                    <%=test.codes.created_array[count]%>
                                                                                                </td>
                                                                                                <%}count++;}%>
                                                                                    </tr>
                                                                                    <%}%>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%})}%>
                        </div>
                    </div>
                </div>
        </div>
        <script>
            var data_used = <%= JSON.stringify(data.tests.map(obj=>obj.codes.used))%>;
            var data_created = <%=JSON.stringify(data.tests.map(obj=>obj.codes.created))%>;
            var data_availables = <%= JSON.stringify(data.tests.map(obj=>obj.codes.availables))%>;
            var tests = <%- JSON.stringify(data.tests.map(obj=>obj.name))%>;
            var codes_datasets = <%- JSON.stringify(data.codes_datasets)%>;
            var charts = [];
            var label = (Cookies.get("lang") == 'es') ? ["Usados", "Disponibles", "Restantes"] : ["Used", "Available", "Left"];
            /* for (var i = 0; i < data_used.length; i++) {
                var ctx = document.getElementById("myChart" + i);
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: label,
                        datasets: [{
                            data: [data_used[i], data_created[i], data_availables[i]],
                            backgroundColor: [
                                'rgba(  6, 58, 81,1)',
                                'rgba( 42, 98,123,1)',
                                'rgba( 22, 78,103,1)',
                            ],
                            hoverBackgroundColor: [
                                'rgba(  6, 58, 81,0.5)',
                                'rgba( 42, 98,123,0.5)',
                                'rgba( 22, 78,103,0.5)',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                usePointStyle: true
                            }
                        },
                        animation: {
                            animateScale: true
                        }
                    }
                });
                charts.push(myChart);
            }
 */
            if (codes_datasets.length > 0) {
                var ctx_distribution = document.getElementById("codes");
                var chart_distribution = new Chart(ctx_distribution, {
                    type: 'horizontalBar',
                    data: {
                        labels: tests,
                        datasets: codes_datasets
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                categoryPercentage: 0.9,
                                barPercentage: 0.9,
                                maxBarThickness: 25,
                                ticks: {
                                    beginAtZero: true,
                                    autoSkip: false
                                },
                                gridLines: {
                                    display: true,
                                    offsetGridLines: true
                                }
                            }]
                        },
                        animation: {
                            animateScale: true
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                usePointStyle: true
                            }
                        }
                    }
                })
            };

            document.title = (Cookies.get("lang") == 'es') ? "Inicio" : "Home";
            document.getElementById("switch-lang").onclick = function() {
                document.title = (Cookies.get("lang") == 'en') ? "Inicio" : "Home";
                for (var i = 0; i < charts.length; i++) {
                    myChart = charts[i];
                    myChart.data.labels = (Cookies.get("lang") == 'en') ? ["Usados", "Disponibles", "Restantes"] : ["Used", "Available", "Left"];
                    myChart.update();
                }
            }
        </script>
</body>

</html>