<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title lang="en">Home</title>
  <title lang="es">Inicio</title>
  <% include partials/head %>
</head>

<body>
  <% include partials/left_column %>
  <div class="main-panel">
    <% include partials/navbar %>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <%if (user.sa==2){%>
            <div class="col-md-12">
                <div class="card container-fluid">
                    <div class="card-header">
                      <h4 class="card-title">
                        Códigos
                      </h4>
                    </div>
                    <div class="card-body">
                      <canvas id="codes" height="300"></canvas>
                    </div>
                </div>
            </div>
          <%}%>
          <% data.tests.forEach((test,index)=>{%>
          <div class="col-md-12">
            <div class="card container-fluid">
              <div class="card-header">
                <h4 class="card-title">
                  <%=test.name%>
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Promedio</h4>
                      </div>
                      <div class="card-body">
                        <h2 class="card-title text-center" style="color:green">
                          <%=test.average%>
                        </h2>
                        <h5 class="card-subtitle mb-2 text-muted text-center" lang="es"><a href="/test_view/<%=test.id%>/<%=user._id%>"><%=test.number_of_results%> Resultados</a></h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Códigos</h4>
                      </div>
                      <div class="card-body">
                        <canvas id="myChart<%=index%>" height="250"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Últimos resultados</h4>
                      </div>
                      <div class="card-body align-self-center">
                        <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th scope="col" style="width:30%" class="text-center">Código</th>
                                <th scope="col" style="width:30%" class="text-center">Fecha</th>
                                <th scope="col" style="width:10%" class="text-center">Resultado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% test.results.forEach(result=>{%>
                              <tr>
                                <td class="text-center"><a href="/test_result/<%=result.id%>">
                                    <%=result.code%></a></td>
                                <td class="text-center">
                                  <%=result.date%>
                                </td>
                                <td class="text-center">
                                  <%=result.percentage%>%</td>
                              </tr>
                              <%})%>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <a class="card">
                      <div class="card-header">
                        <h4 class="card-title">Códigos disponibles</h4>
                      </div>
                      <div class="card-body align-self-center">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <%var count=0
                              for(var i=0; i<4;i++){
                                if(count==test.codes.created_array.length){
                                break}%>
                                <tr>
                                <%for(var j=0; j<4;j++){
                                  if(count==test.codes.created_array.length){
                                    break}
                                    if(i==3 && j==3){%>
                                      <td><a href="/test_view/<%=test.id%>/<%=user._id%>">más</a></td>
                                      <%}else{%>
                                  <td> <%=test.codes.created_array[count]%> </td>
                                <%}count++;}%>
                              </tr>
                              <%}%>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <% })%>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="wrapper">
    <div class="main-panel">
      <% include partials/navbar %>
        <div class="content">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">

                <% if (user.sa == 1){ %>

                  <a lang="es" href="/users_list" class="btn btn-light btn-sm">Ver Lista consultores</a>
                  <a lang="en" href="/users_list" class="btn btn-light btn-sm">See consultants</a>

                  <a lang="es" href="/categories" class="btn btn-light btn-sm">Ver categorias</a>
                  <a lang="en" href="/categories" class="btn btn-light btn-sm">See categories</a>

                  <a lang="es" href="/test" class="btn btn-light btn-sm">prueba</a>
                  <a lang="en" href="/test" class="btn btn-light btn-sm">test</a>

                  <form action="/adminsearch">
                    <br />
                    <h5 lang="es">Barra de búsqueda</h5>
                    <h5 lang="en">Search bar</h5>

                    <div class="form-group row">
                      <div class="col-8">
                        <input class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required/>
                      </div>
                      <div class="col-2">
                        <button lang="es" class="btn btn-light">Buscar</button>
                        <button lang="en" class="btn btn-light">Search</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h4> Pruebas creadas desde ClassMarker</h4>
              </div>
              <div class="card-body">
                <div class="list-group" id="accordion">
                  <% Tests.forEach(function(Test) { %>
                    <h class="list-group-item list-group-item-action font-weight-bold" data-toggle="collapse" href="#coll<%= Test.test_id%>"
                      aria-expanded="false" aria-controls="coll<%= Test.test_id%>">
                      <%=Test.test_name%>
                    </h>
                    <div id="coll<%= Test.test_id%>" class="collapse" aria-labelledby="heading<%= Test.test_id%>" data-parent="#accordion">
                      <div class="card strpied-tabled-with-hover">
                        <div class="card-body table-full-width table-responsive">
                          <table class="table table-hover table-striped">
                            <thead>
                              <th class="col-5">Links</th>
                              <th class="col-2">Códigos Usados</th>
                              <th class="col-2">Códigos Generados</th>
                              <th class="col-2">Códigos Disponibles</th>

                            </thead>
                            <tbody>
                              <% Test.links.forEach(function(Link){%>
                                <tr>
                                  <td>
                                    <%=Link.link_name%>
                                  </td>
                                  <td class="text-center">25</td>
                                  <td class="text-center">50</td>
                                  <td class="text-center">100</td>
                                </tr>
                                <%});%>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>

                    <% }); %>
                </div>
              </div>

            </div>
            <% } %>

              <% if (user.sa == 0){ %>
                <form action="/consultor_search">
                  <h4 lang="es">Barra de búsqueda.</h4>
                  <h4 lang="en">Search bar.</h4>
                  <div class="form-group row">
                    <div class="col-8">
                      <input class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required />
                      <input class="form-control" type="search" name="id_inst" value="<%=user._id%>" style="display:none">
                    </div>
                    <div class="col-2">
                      <button lang="es" class="btn btn-light">Buscar</button>
                      <button lang="en" class="btn btn-light">Search</button>
                    </div>
                  </div>
                </form>

                <% } %>
          </div>
        </div>
    </div>


    prueba

    <% if(user.sa==1){
            participantes==0
            
        }else if(user.sa==0){ %>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header ">
            <h4 lang="es" class="card-title">Ultimos resultados.</h4>
            <h4 lang="en" class="card-title">Last results.</h4>
            <p lang="es" class="card-category">Listado de sus participantes que han hecho la evaluación asignada.</p>
            <p lang="en" class="card-category">List of partipants who answered their evaluation.</p>
          </div>
          <div class="card-body">
            <table class="table table-hover table-striped">
              <thead>
                <tr lang="es">
                  <th>Código de Acceso/Participante</th>
                  <th>Nombre de la evaluación</th>
                  <th>Fecha</th>
                </tr>
                <tr lang="en">
                  <th>Access code</th>
                  <th>Evaluation name</th>
                  <th>Date</th>
                </tr>
              </thead>

              <tbody>

                <% if(participantes!=""){
                participantes.forEach(function(participante) { %>
                  <%lresult.forEach(function(lr){%>
                    <%if(participante.link_url_id==lr.link_url_id){ %>

                      <tr>
                        <td>
                          <%=participante.access_code%>
                        </td>

                        <td>
                          <%
                            if(participante.link_url_id==lr.link_url_id)
                        {%>
                            <%= lr.link_name %>
                              <% } %>
                        </td>
                        <td>
                          <%= timeConverter(participante.time_finished) %>
                        </td>
                        <td>
                          <a lang="es" href="viewinfo/<%=participante.access_code%>">Ver detalles</a>
                          <a lang="en" href="viewinfo/<%=participante.access_code%>">Details</a>
                        </td>
                      </tr>
                      <% } %>
                        <% }) %>
                          <% }); }else{%>

              </tbody>

            </table>
          </div>
          <span lang="es">No tienes usuarios inscritos.</span>
          <span lang="en">You don't have participants signed up.</span>

          <% } %>
        </div>
      </div>
  </div>
  <% } %>

    </div>

    <% function timeConverter(UNIX_timestamp)
    {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' a las  ' + hour + ':' + min + ':' + sec ;
        return time;
        }
    %>

      <% include partials/left_column %>

        </div>
      -->

  <script>
    var data_used=<%= JSON.stringify(data.tests.map(obj=>obj.codes.used))%>
    var data_created=<%= JSON.stringify(data.tests.map(obj=>obj.codes.created))%>
    var data_availables=<%= JSON.stringify(data.tests.map(obj=>obj.codes.availables))%>
    var tests=<%- JSON.stringify(data.tests.map(obj=>obj.name))%>
    var codes_datasets=<%- JSON.stringify(data.codes_datasets)%>
    for (var i=0; i<data_used.length;i++){
      var ctx = document.getElementById("myChart"+i);
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Usados", "Disponibles", "Restantes"],
          datasets: [{
            data: [data_used[i], data_created[i], data_availables[i]],
            backgroundColor: [
              'rgba(51, 88, 153, 1)',
              'rgba(179, 190, 233, 1)',
              'rgba(121, 145, 206, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          legend: {
            labels: {
              usePointStyle: false
            }
          },
          animation: {
            animateScale: true
          }
        }
      });
    }
  console.log(<%- JSON.stringify(data)%>);
  var ctx_temp = document.getElementById("codes");
  var chart_temp = new Chart(ctx_temp, {
    type: 'bar',
    data: {
        labels: tests,
        datasets: codes_datasets
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
              stacked:true,
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes:[{
              stacked:true,
              categoryPercentage: 0.9,
              barPercentage: 0.9
            }]
        },
        animation: {
          animateScale: true
        },
        legend: {
          display: true
        }
    }
    });
  </script>
</body>

</html>