<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1>Perfil</h1>
        <a href="/logout" class="btn btn-light btn-sm">
          Cerrar Sesión
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Instructor</h3>
              <p>
                <strong>id</strong> : <% iduser=user._id %><%= iduser %> <br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <strong>password</strong> : <%= user.local.password %> <br>
                <strong>Super admin</strong> : <% if (user.sa == 1){ %> Si <% }else {%> No <% } %> <br>
                <strong>sa</strong> : <%= user.sa %> <br>
                <strong>variable</strong> : <%= user.variable %> <br>
              </p>
              <a href="/logout" class="btn btn-light btn-sm">
                Cerrar Sesión
              </a>
              <% if (user.sa == 1){ %>
              <a href="/signup" class="btn btn-light btn-sm">
                Registrar Instructor
              </a>
              <% } %>
              <!-- Botoon prueba -->
              <a href="/signup" class="btn btn-light btn-sm">
                Registrar Instructor
              </a>
              
              <a href="/newpart" class="btn btn-light btn-sm">
                Registrar participante
              </a>
              <a href="/list" class="btn btn-light btn-sm">
                Ver Lista Participantes
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
