<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title lang="en">Home</title>
    <title lang="es">Inicio</title>
    <% include partials/head %>
  </head>
  <body>


    <div class="main-panel">
    <% include partials/navbar %>
        <div class="content">
            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">

                    <% if (user.sa == 1){ %>

                    <a lang="es" href="/signup" class="btn btn-light btn-sm">Registrar consultor</a>
                    <a lang="en" href="/signup" class="btn btn-light btn-sm">Register consultant</a>
                    
                    <a lang="es" href="/list" class="btn btn-light btn-sm">Ver Lista consultores</a> 
                    <a lang="en" href="/list" class="btn btn-light btn-sm">See consultants</a> 
                    
                    <a lang="es" href="/categories" class="btn btn-light btn-sm">Ver categorias</a>
                    <a lang="en" href="/categories" class="btn btn-light btn-sm">See categories</a> 

                    <form action="/adminsearch">
                        <br />
                        <h5 lang="es">Barra de búsqueda</h5>
                        <h5 lang="en">Search bar</h5>

                    <div class="form-group row" >
                        <div class="col-8">
                            <input lang="es" class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required/>
                            <input lang="en" class="form-control" type="search" name="search" placeholder="Search by access code" required/>
                        </div>
                        <div class="col-2">
                            <button lang="es" class="btn btn-light">Buscar</button>
                            <button lang="en" class="btn btn-light">Search</button>
                        </div>
                    </div>
                    </form>
                    
                    <% } %>
                    
                    <% if (user.sa == 0){ %>
                    <form action="/consultor_search">
                        <h4 lang="es">Barra de búsqueda.</h4>
                        <h4 lang="en">Search bar.</h4>
                    <div class="form-group row" >
                        <div class="col-8">
                            <input class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required />
                            <input class="form-control" type="search" name="id_inst" value="<%=user._id%>" style="display:none">
                        </div>
                        <div class="col-2">
                            <button lang="es" class="btn btn-light">Buscar</button>
                            <button lang="en" class="btn btn-light">Search</button>
                        </div>
                    </div>
                    </form>
                    
                    <% } %>
                    
                </div>
                </div>                 
            </div>
           
        
        <!-- prueba -->
        
        <% if(user.sa==1){
            participantes==0
            
        }else if(user.sa==0){ %>
        
        <div class="col-sm-12">
                <div class="card">
                        <div class="card-header ">
                                <h4 lang="es" class="card-title">Ultimos resultados.</h4>
                                <h4 lang="en" class="card-title">Last results.</h4>
                                <p lang="es" class="card-category">Listado de sus participantes que han hecho la evaluación asignada.</p>
                                <p lang="en" class="card-category">List of partipants who answered their evaluation.</p>
                            </div>
                    <div class="card-body">
                <table class="table table-hover table-striped">
                                  <thead>
                                      <tr lang="es">
                                        <th>Código de Acceso/Participante</th>
                                        <th>Nombre de la evaluación</th>
                                        <th>Fecha</th>
                                      </tr>
                                      <tr lang="en">
                                        <th>Access code</th>
                                        <th>Evaluation name</th>
                                        <th>Date</th>
                                      </tr>
                                    </thead>
                                    
                                    <tbody>
                                        
                <% if(participantes!=""){
                participantes.forEach(function(participante) { %> 
                    <%lresult.forEach(function(lr){%>
                    <%if(participante.link_url_id==lr.link_url_id){ %>
                    
                    <tr>
                        <td><%=participante.access_code%></td>
                        
                        <td><%
                            if(participante.link_url_id==lr.link_url_id)
                        {%>
                        <%= lr.link_name %>
                        <% } %>
                        </td>
                        <td><%= timeConverter(participante.time_finished) %></td>
                        <td>
                            <a lang="es" href="viewinfo/<%=participante.access_code%>">Ver detalles</a>
                            <a lang="en" href="viewinfo/<%=participante.access_code%>">Details</a>
                        </td>
                    </tr>
                    <% } %>
                    <% }) %>
                    <% }); }else{%>
                    
                    </tbody>
                                    
                      </table>
                    </div>
                    <span lang="es">No tienes usuarios inscritos.</span>
                    <span lang="en">You don't have participants signed up.</span>
                    
                    <% } %>
                </div>
            </div>
        </div><% } %>
        
    </div>
    
    <% function timeConverter(UNIX_timestamp)
    {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' a las  ' + hour + ':' + min + ':' + sec ;
        return time;
        }
    %>

     <% include partials/left_column %>

  </body>
</html>
