<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>
    
    <% 
    function timeConverter(UNIX_timestamp)
    {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }
    %>

    <div class="main-panel">
        <% include partials/navbar %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4"  >
                          <br>
                      </div>
                      <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Usuario con codigo de accesso: <%= access_code %><br><br></h4>
                            </div></div></div>
                        
                                
                        <!-- detalles preguntas -->
                        
                        <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                                <h4 class="card-title">Pregunta <%= id_question %></h4>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                               <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Pregunta</th>
                                            <th>Respuesta usuario</th>
                                            <th>Respuesta correcta</th>
                                            <th>Tipo de pregunta</th>
                                            <th>Categoría</th>
                                            <th>Estado</th>
                                            <th></th>
                                            
                                            
                                        </thead>
                                        <tbody>
                                            
                                        <!-- TODO hacer lista de json y comparar para mostrar los que 
                                        ya se presentaron con la consulta a la base de datos -->
                                         
                                        <% result.forEach(function(items){ %>    
                                        <% if(items.questions){ %>
                                        
                                        <%long=(items.questions.length); for(i=0; i<long; i++){ %>
                                            <% if((items.questions[i].question_id)==(id_question)){ %>
                                        <tr>
                                          <!-- Filtrar id_inst con id capturado del instructor -->
                                          
                                        <td><%= items.questions[i].question %></td>
                                        <td><%= items.questions[i].user_response %></td>
                                        <td><%= items.questions[i].correct_option %></td>
                                        <td><%= items.questions[i].question_type %></td>
                                        
                                        <td>
                                        <%long_b=(items.category_results.length);
                                        for(a=0; a<long_b; a++){ %>
                                        <% if((items.category_results[a].category_id)==(items.questions[i].category_id)) {%>
                                        <%= items.category_results[a].name  %>
                                        <% } } %>
                                        </td>
                                        
                                        
                                        <td><%= items.questions[i].result %>o </td>
                                        <td><% if(items.questions[i].result=="correct"){ %>
                                            <img width="50px" 
                                            height="50px" 
                                            src='http://img110.xooimage.com/files/6/f/0/si-5434f08.png'>
                                        <% }else{ %>
                                            <img width="50px" 
                                            height="50px" 
                                            src='http://img110.xooimage.com/files/5/7/3/no-5434f0b.png'>
                                        <% } %>
                                        </td>
                                        
                                            
                                         </tr>
                                        <% } } } })%>  
                                          </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </div>

                        
                            </div>
                            
                   
                    
                     </div>
                  </div>
             </div>
        </div>
      </div>
 <% include partials/left_column %>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
 
 <!--  ForEach para capturar category_id y mostrarlo en getElementById -->
 
 <% result.forEach(function(results){ %>
    <%long=(results.category_results.length); for(i=0; i<long; i++){ %>
    
      <script>
      /*global item*/
      
      var category_id = <%=results.category_results[i].category_id%> 
      console.log("TECLADE", category_id)
      
      var valor = <%=results.category_results[i].percentage%>
      
       
      
      new Chart(document.getElementById(category_id), {
      type: 'bar',
       data: {
         labels: ["", "", valor + "%", "", "" ],
         datasets: [
           {
             label: "",
             backgroundColor: ["", "","#003851","",""],
             data: [0,0,valor,0,0]
           }
         ]
       },
       options: {
         legend: { display: false },
         title: {
           display: true,
           text: 'Estadistica porcentaje obtenido' 
         },
         scales: {
           xAxes: [{
               display: true,
               scaleLabel: {
               display: true
               }
               }],
           yAxes: [{
               display: true,
               ticks: {
               beginAtZero: true,
               steps: 10,
               stepValue: 5,
               max: 100
               }
           }]
          }
       }
   });
</script>

 <% } %>  
<% })%>

</body>

</html>

                          