<!DOCTYPE html>
<html>

<head>
    <title lang="es">Evaluaciones</title>
    <title lang="en">Evaluations</title>
    <% include partials/head %>
</head>

<body>
    <% include partials/left_column %>
        <div class="main-panel">
            <% include partials/navbar %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header ">
                                        <h4 lang="es">Lista de evaluaciones disponibles para <%= data.administrator.email%>.</h4>
                                        <h4 lang="en">Available evaluations for <%= data.administrator.email%>.</h4>
                                    </div>
                                        <div class="list-group list-group-flush" id="accordion">
                                            <% data.assignments.forEach(function(item,index) { %>
                                                <a class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapse<%= index%>" aria-expanded="true"
                                                    aria-controls="collapse<%= index%>">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <%= item.test_name %>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="badge badge-pill badge-dark" lang="es"><%= item.codes_max %> Códigos asignados</span>
                                                            <span class="badge badge-pill badge-dark" lang="en"><%= item.codes_max %> Codes assigned</span>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div id="collapse<%= index%>" class="collapse container-fluid <%if (index==0){%>show<% }; %>" aria-labelledby="headingOne"
                                                    data-parent="#accordion">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" width="50%" lang="es">usuario</th>
                                                                <th scope="col" width="50%" lang="en">user</th>
                                                                <th scope="col" width="15%" lang="es">Códigos Usados</th>
                                                                <th scope="col" width="15%" lang="en">Codes Used</th>
                                                                <th scope="col" width="15%" lang="es">Códigos Asignados</th>
                                                                <th scope="col" width="15%" lang="en">Codes assigned</th>
                                                                <th scope="col" width="20%"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% item.users.forEach(function(item_user) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%=item_user.email%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item_user.codes_used%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item_user.codes_max%>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/test_view/<%=item.id%>/<%=item_user.id%>" lang="es">ver prueba</a>
                                                                        <a href="/test_view/<%=item.id%>/<%=item_user.id%>" lang="en">see test</a>
                                                                    </td>
                                                                </tr>
                                                                <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% }); %>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</body>

</html>