<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/left_column %>
        <div class="main-panel">
            <% include partials/navbar %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">
                                    <%= data.test_name%>
                                </h2>
                            </div>
                            <br><br><br><br>
                            

                            <div class="col-md-4 my-auto">
                                <div class="card container-fluid text-center mx-auto">
                                    <div class="card-body">
                                        <h2 class="card-title" lang="es">Código de acceso: <span><%= data.access_code_used%></span></h2>
                                        <h2 class="card-title" lang="en">Access code: <span><%= data.access_code_used%></span></h2>
                                        <button type="button" class="btn btn-dark btn-lg" lang="es">Descargar informe</button>
                                        <button type="button" class="btn btn-dark btn-lg" lang="en">Download Report</button>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 my-auto">
                                <div class="card container-fluid mx-auto">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Overall Knowledge Test Result</h3>
                                        <h2 class="card-title text-center"><%= data.percentage%>%</h2>
                                        <br>
                                        <h3 class="card-title text-center">Country Average</h3>
                                        <h2 class="card-title text-center"><%= data.percentage%>%</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 my-auto">
                                <div class="card container-fluid mx-auto">
                                    <div class="card-body">
                                        <h3 class="card-title text-center" lang="en">Assesment Information</h3>
                                        <h3 class="card-title text-center" lang="es">Información de evaluación</h3>
                                        <br>
                                        <div class="table-responsive">
                                            <table style="width:100%">
                                                <tbody>                                                    
                                                    <tr>
                                                        <td lang="es">Duración:</td>
                                                        <td lang="en">Duration:</td>
                                                        <td>
                                                            <%= data.duration%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td lang="es">Fecha de Inicio:</td>
                                                        <td lang="en">Date started:</td>
                                                        <td>
                                                            <%date=new Date(data.time_started*1000)%><%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>   <%if(date.getHours()<10){%>0<%}%><%=date.getHours()%>:<% if(date.getMinutes()<10){%>0<%}%><%=date.getMinutes()%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td lang="es">Fecha de finalización:</td>
                                                        <td lang="en">Date finished:</td>
                                                        <td>
                                                            <%date=new Date(data.time_finished*1000)%><%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>   <% if(date.getHours()<10){%>0<%}%><%=date.getHours()%>:<% if(date.getMinutes()<10){%>0<%}%><%=date.getMinutes()%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title" lang="es">Resultados de la Prueba de Conocimiento por Categoría vs. Promedio del País</h4>
                                        <h4 class="card-title" lang="en">Knowledge Test Results per Category vs. Country Average</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container responsive" style="position: relative; height: 40vh;">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title" lang="es">Respuestas</h4>
                                        <h4 class="card-title" lang="en">Answers</h4>
                                        <h5 class="card-subtitle mb-2 text-muted" lang="es">
                                            <i class="fas fa-check-circle" style="color:#009933"> </i> Respuesta correcta
                                            <i class="fas fa-times-circle" style="color:#d80c0c"> </i> Respuesta incorrecta
                                            <i class="fas fa-arrow-alt-circle-right" style="color:#1120ec"> </i> Opción correcta omitida
                                        </h5>
                                        <h5 class="card-subtitle mb-2 text-muted" lang="en">
                                            <i class="fas fa-check-circle" style="color:#009933"> </i> Correct answer
                                            <i class="fas fa-times-circle" style="color:#d80c0c"> </i> Incorrect answer
                                            <i class="fas fa-arrow-alt-circle-right" style="color:#1120ec"> </i> Missed correct option
                                        </h5>
                                    </div>

                                    <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist" lang="es">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="all_question-tab" data-toggle="tab" href="#all_question" role="tab" aria-controls="all_question" aria-selected="true">Todas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="corrrect_question-tab" data-toggle="tab" href="#corrrect_question" role="tab" aria-controls="corrrect_question" aria-selected="false">Correctas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="partial_question-tab" data-toggle="tab" href="#partial_question" role="tab" aria-controls="partial_question" aria-selected="false">Parcialmente correctas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wrong_question-tab" data-toggle="tab" href="#wrong_question" role="tab" aria-controls="wrong_question" aria-selected="false">Incorrectas</a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist" lang="en">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="all_question-tab" data-toggle="tab" href="#all_question" role="tab" aria-controls="all_question" aria-selected="true">All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="corrrect_question-tab" data-toggle="tab" href="#corrrect_question" role="tab" aria-controls="corrrect_question" aria-selected="false">Correct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="partial_question-tab" data-toggle="tab" href="#partial_question" role="tab" aria-controls="partial_question" aria-selected="false">Partially correct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wrong_question-tab" data-toggle="tab" href="#wrong_question" role="tab" aria-controls="wrong_question" aria-selected="false">Incorrect</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <!--All Answers-->
                                        <div class="tab-pane fade show active" id="all_question" role="tabpanel" aria-labelledby="all_question-tab">
                                            <% data.questions.forEach((question,index)=>{%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%})%>
                                        </div>
                                        <!--Correct Answers-->
                                        <div class="tab-pane fade" id="corrrect_question" role="tabpanel" aria-labelledby="corrrect_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="correct"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                        <!-- Partial Answers-->
                                        <div class="tab-pane fade" id="partial_question" role="tabpanel" aria-labelledby="partial_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="partial_correct"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){ %>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                        <!--Wrong Answers-->
                                        <div class="tab-pane fade" id="wrong_question" role="tabpanel" aria-labelledby="wrong_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="incorrect"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <script>
            var ctx = document.getElementById("myChart");
            var label = (Cookies.get('lang') == 'es') ? 'Promedio del país' : 'Country Average';
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [<%- data.category_results.labels %>],
                    datasets: [{
                        label: '<%= data.access_code_used%>',
                        data: [<%- data.category_results.data %>],
                        backgroundColor: 'rgba(  6, 58, 81,1)',
                        hoverBackgroundColor: 'rgba(  6, 58, 81,0.5)'
                    }, {
                        label: label,
                        data: [<%- data.category_results.average %>],
                        backgroundColor: 'rgba( 42, 98,123,1)',
                        hoverBackgroundColor: 'rgba( 42, 98,123,0.5)'
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                callback: function(value, index, values) {
                                    return value + ' %';
                                }
                            }
                        }],
                        yAxes: [{
                            categoryPercentage: 0.9,
                            barPercentage: 0.9,
                            maxBarThickness: 25,
                            gridLines: {
                                display: true,
                                offsetGridLines: true
                            }
                        }]
                    },
                    animation: {
                        animateScale: true
                    },
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });
            document.title = (Cookies.get("lang") == 'es') ? "Resultado <%= data.access_code_used%>" : "Result <%= data.access_code_used%>";
            document.getElementById("switch-lang").onclick = function() {
                document.title = (Cookies.get("lang") == 'en') ? "Resultado <%= data.access_code_used%>" : "Result <%= data.access_code_used%>";
                if (Cookies.get('lang') == 'en') {
                    myChart.data.datasets[1].label = 'Promedio del país'
                } else {
                    myChart.data.datasets[1].label = 'Country Average'
                }
                myChart.update();
            }
        </script>
</body>

</html>