<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
</head>

<body>
    <% include partials/left_column %>
        <div class="main-panel">
            <% include partials/navbar %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">
                                    <%= data.test_name%>
                                </h2>
                            </div>
                            <br><br><br><br>
                            

                            <div class="col-xl-4 col-lg-6 my-auto">
                                <div class="card container-fluid text-center mx-auto">
                                    <div class="card-body">
                                        <h2 class="card-title" lang="es">Código de acceso: <span><%= data.access_code_used%></span></h2>
                                        <h2 class="card-title" lang="en">Access code: <span id="accessCodeUsed"><%= data.access_code_used%></span></h2>
                                        <button type="button" class="btn btn-dark btn-lg" style="max-width: 100%; padding: 8px 5%!important;" lang="es" id="btn_pdf_es">Descargar informe</button>
                                        <button type="button" class="btn btn-dark btn-lg" style="max-width: 100%; padding: 8px 5%!important;" lang="en" id="btn_pdf_en">Download Report</button>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 my-auto">
                                <div class="card container-fluid mx-auto">
                                    <div class="card-body">
                                        <h3 class="card-title text-center" lang="en">Overall Knowledge Test Result</h3>
                                        <h3 class="card-title text-center" lang="es">Resultado general de la prueba de conocimientos</h3>
                                        <h2 class="card-title text-center" id="overallResult"><%= data.percentage%>%</h2>
                                        <br>
                                        <h3 class="card-title text-center" lang="en">Country Average</h3>
                                        <h3 class="card-title text-center" lang="es">Promedio del país</h3>
                                        <h2 class="card-title text-center" id="countryAverage"><%= data.country_average%>%</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 my-auto">
                                <div class="card container-fluid mx-auto">
                                    <div class="card-body">
                                        <h3 class="card-title text-center" lang="en">Assesment Information</h3>
                                        <h3 class="card-title text-center" lang="es">Información de evaluación</h3>
                                        <br>
                                        <div class="table-responsive">
                                            <table style="width:100%;max-width: 300px;margin: auto;" id="assesmentInformation">
                                                <tbody>                                                    
                                                    <tr>
                                                        <td lang="es">Duración:</td>
                                                        <td lang="en">Duration:</td>
                                                        <td id="testDuration">
                                                            <%= data.duration%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td lang="es">Fecha de Inicio:</td>
                                                        <td lang="en">Start Date:</td>
                                                        <td id="testStartDate">
                                                            <%date=new Date(data.time_started*1000)%><%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>   <%if(date.getHours()<10){%>0<%}%><%=date.getHours()%>:<% if(date.getMinutes()<10){%>0<%}%><%=date.getMinutes()%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td lang="es">Fecha de finalización:</td>
                                                        <td lang="en">End Date:</td>
                                                        <td id="testEndDate">
                                                            <%date=new Date(data.time_finished*1000)%><%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>   <% if(date.getHours()<10){%>0<%}%><%=date.getHours()%>:<% if(date.getMinutes()<10){%>0<%}%><%=date.getMinutes()%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title" lang="es">Resultados de la Prueba de competencias </h4>
                                        <h4 class="card-title" lang="en">Competences test results</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xl-7">
                                                    <div style=" width: 100%; height: 610px; overflow: auto;">
                                                            <canvas style="margin: auto; display: block" id="competencesCanvas" width="520" height="580"></canvas><!--  style="border:1px solid #000000;" -->
                                                    </div>
                                                </div>
                                                <div class="col-xl-5">
                                                    <div style=" width: 100%; height: 580px; overflow: auto;"><!-- background-color: lightblue; -->
                                                        <% data.sjt_competences.forEach((competence,index)=>{ 
                                                            if(competence.total>=0){%>

                                                        <h4 lang="en"><%=index+1 +'. '+ competence.name%></h4>
                                                        <h4 lang="es"><%=index+1 +'. '+ competence.name_es%></h4>
                                                        <!-- <div class="progress" style="margin: 3px 10px; height: 20px;">
                                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width:<%=competence.total*100/5%>%; background-color: #2A627B; "><%=(competence.total*100/5).toFixed(2)%>%</div>
                                                        </div>
                                                        <div class="progress" style="margin: 3px 10px 20px; height: 5px; overflow: visible;">
                                                            <div class="progress-bar bg-danger" role="progressbar" style="width: <%=competence.min*100/5%>%" ><span><%=(competence.min*100/5).toFixed(0)%>%</span></div>
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" ></div>
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: <%=100-competence.min*100/5%>%" ></div>
                                                          </div> -->
                                                            <ul>
                                                                <% switch (competence.total) {
                                                                    case '1':
                                                                    case '2':
                                                                        competence.insufficient.forEach((item,index)=>{ %>
                                                                        <li lang="en"><%=item%></li>
                                                                        <li lang="es"><%=competence.insufficient_es[index]%></li>
                                                                        <% }) 
                                                                        break;
                                                                    case '3':
                                                                    case '4':
                                                                        competence.adequate.forEach((item,index)=>{ %>
                                                                        <li lang="en"><%=item%></li>
                                                                        <li lang="es"><%=competence.adequate_es[index]%></li>
                                                                        <% }) 
                                                                        break;
                                                                    case '5':
                                                                        competence.excellent.forEach((item,index)=>{ %>
                                                                        <li lang="en"><%=item%></li>
                                                                        <li lang="es"><%=competence.excellent_es[index]%></li>
                                                                        <% }) 
                                                                        break;
                                                                }%>
                                                            </ul>
                                                        <% }}) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       <!--  <div class="chart-container responsive">
                                            <canvas id="myChart"></canvas>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title" lang="es">Resultados de la Prueba de Conocimiento por Categoría vs. Promedio del País</h4>
                                        <h4 class="card-title" lang="en">Knowledge Test Results per Category vs. Country Average</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container responsive" style="position: relative;min-height:400px; width: 100%; text-align: center">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title" lang="es">Respuestas</h4>
                                        <h4 class="card-title" lang="en">Answers</h4>
                                        <h5 class="card-subtitle mb-2 text-muted" lang="es">
                                            <i class="fas fa-check-circle" style="color:#009933"> </i> Respuesta correcta
                                            <i class="fas fa-times-circle" style="color:#d80c0c"> </i> Respuesta incorrecta
                                            <i class="fas fa-arrow-alt-circle-right" style="color:#1120ec"> </i> Opción correcta omitida
                                        </h5>
                                        <h5 class="card-subtitle mb-2 text-muted" lang="en">
                                            <i class="fas fa-check-circle" style="color:#009933"> </i> Correct answer
                                            <i class="fas fa-times-circle" style="color:#d80c0c"> </i> Incorrect answer
                                            <i class="fas fa-arrow-alt-circle-right" style="color:#1120ec"> </i> Missed correct option
                                        </h5>
                                    </div>

                                    <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist" lang="es">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="all_question-tab" data-toggle="tab" href="#all_question" role="tab" aria-controls="all_question" aria-selected="true">Todas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="corrrect_question-tab" data-toggle="tab" href="#corrrect_question" role="tab" aria-controls="corrrect_question" aria-selected="false">Correctas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="partial_question-tab" data-toggle="tab" href="#partial_question" role="tab" aria-controls="partial_question" aria-selected="false">Parcialmente correctas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wrong_question-tab" data-toggle="tab" href="#wrong_question" role="tab" aria-controls="wrong_question" aria-selected="false">Incorrectas</a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist" lang="en">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="all_question-tab" data-toggle="tab" href="#all_question" role="tab" aria-controls="all_question" aria-selected="true">All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="corrrect_question-tab" data-toggle="tab" href="#corrrect_question" role="tab" aria-controls="corrrect_question" aria-selected="false">Correct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="partial_question-tab" data-toggle="tab" href="#partial_question" role="tab" aria-controls="partial_question" aria-selected="false">Partially correct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wrong_question-tab" data-toggle="tab" href="#wrong_question" role="tab" aria-controls="wrong_question" aria-selected="false">Incorrect</a>
                                        </li>
                                    </ul>
                                    <img id="missedIcon" alt="" src="/img/icon/missedAnswer.png" style="display: none"/>
                                    <img id="correctIcon" alt="" src="/img/icon/correctAnswer.png" style="display: none"/>
                                    <img id="wrongIcon" alt="" src="/img/icon/wrongAnswer.png" style="display: none"/>
                                    <div class="tab-content" id="myTabContent">
                                        <!--All Answers-->
                                        <div class="tab-pane fade show active" id="all_question" role="tabpanel" aria-labelledby="all_question-tab">
                                            <% data.questions.forEach((question,index)=>{%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%})%>
                                        </div>
                                        <!--Correct Answers-->
                                        <div class="tab-pane fade" id="corrrect_question" role="tabpanel" aria-labelledby="corrrect_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="correct"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                        <!-- Partial Answers-->
                                        <div class="tab-pane fade" id="partial_question" role="tabpanel" aria-labelledby="partial_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="partial_correct"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){ %>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                        <!--Wrong Answers-->
                                        <div class="tab-pane fade" id="wrong_question" role="tabpanel" aria-labelledby="wrong_question-tab">
                                            <% data.questions.forEach((question,index)=>{
                                            if(question.result=="incorrect"){%>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" lang="es">Pregunta
                                                            <%=index+1%> de
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h4 class="card-title" lang="en">Question
                                                            <%=index+1%> of
                                                                <%=data.questions.length%>
                                                        </h4>
                                                        <h5 class="card-subtitle mb-2 text-muted">
                                                            <%=question.category%>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%-question.question%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <% if (question.question_type=="multiplechoice"|| question.question_type == "truefalse"){%>
                                                                <ol>
                                                                    <% question.options.forEach(option=>{%>
                                                                        <li class="<%=option.status%>">
                                                                            <div>
                                                                                <%-option.option%>
                                                                            </div>
                                                                        </li>
                                                                        <%});%>
                                                                </ol>
                                                                <% }else if (question.question_type=="freetext"){%>
                                                                    <ol>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta dada:</div>
                                                                            <div class="text-muted" lang="en">Answer given:</div>
                                                                        </li>
                                                                        <li class="<%=question.options.status%>" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.user_answer%>
                                                                            </div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div class="text-muted" lang="es">Respuesta(s) aceptada:</div>
                                                                            <div class="text-muted" lang="en">Accepted answer(s):</div>
                                                                        </li>
                                                                        <li class="answer" style="list-style-type: none">
                                                                            <div>
                                                                                <%-question.options.options%>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                    <%}else if (question.question_type=="matching"){%>
                                                                        <div class="container">
                                                                            <table class="table table-striped table-condensed">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 36%"></th>
                                                                                        <th style="width: 32%" lang="es">Opción correcta</th>
                                                                                        <th style="width: 32%" lang="en">Correct answer</th>
                                                                                        <th style="width: 32%" lang="es">Opción seleccionada</th>
                                                                                        <th style="width: 32%" lang="en">Selected answer</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% question.options.forEach(option=>{%>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%=option.clue%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%=option.match%>
                                                                                            </td>
                                                                                            <td>
                                                                                                <li class="<%=option.status%>" style="list-style-type: none">
                                                                                                    <div>
                                                                                                        <%=option.user_response%>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <%})%>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="es">
                                                        Puntos:
                                                        <%=question.points_scored%> de
                                                            <%=question.points_available%>
                                                    </div>
                                                    <div class="card-footer text-muted" lang="en">
                                                        Points:
                                                        <%=question.points_scored%> out of
                                                            <%=question.points_available%>
                                                    </div>
                                                </div>
                                                <%}})%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <script>
            var current_lang=Cookies.get("lang");
            var ctx = document.getElementById("myChart");
            var label = (current_lang == 'es') ? 'Promedio del país' : 'Country Average';
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [<%- data.category_results.labels %>],
                    datasets: [{
                        label: '<%= data.access_code_used%>',
                        data: [<%- data.category_results.data %>],
                        backgroundColor: 'rgba(  6, 58, 81,1)',
                        hoverBackgroundColor: 'rgba(  6, 58, 81,0.5)'
                    }, {
                        label: label,
                        data: [<%- data.category_results.average %>],
                        backgroundColor: 'rgba( 42, 98,123,1)',
                        hoverBackgroundColor: 'rgba( 42, 98,123,0.5)'
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                callback: function(value, index, values) {
                                    return value + ' %';
                                },
                                fontSize: 17
                            }
                        }],
                        yAxes: [{
                            categoryPercentage: 0.9,
                            barPercentage: 0.9,
                            maxBarThickness: 25,
                            gridLines: {
                                display: true,
                                offsetGridLines: true
                            },
                            ticks:{
                                fontSize:17
                            }
                        }]
                    },
                    animation: {
                        animateScale: true
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {fontSize: 17}
                    }
                }
            });
            var canvas = document.getElementById("competencesCanvas");
            var sjt_result=<%- JSON.stringify(data.sjt_competences) %>;
            var sjt_questions=<%- JSON.stringify(data.questions) %>;
            createSJTReport();

            function createSJTReport(){
                var item_height=40;
                var pointsgap=35;
                var canvas_ctx = canvas.getContext("2d");
                canvas_ctx.clearRect(0,0,canvas.width,canvas.height);
                
                // Triángulo rellenado
                var grd = canvas_ctx.createLinearGradient(275, 0, 500, 0);
                grd.addColorStop(0, "white");
                grd.addColorStop(1, "grey");
                canvas_ctx.fillStyle = grd;
                
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(275,50);
                canvas_ctx.lineTo(500,50);
                canvas_ctx.lineTo(500,0);
                canvas_ctx.fill();

                //items
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50, 500, item_height);
                canvas_ctx.strokeStyle="white";
                canvas_ctx.stroke();
                canvas_ctx.fillStyle = "rgba(220, 230, 241, 1)";
                canvas_ctx.fill();
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*2, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*3, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fill();

                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*4, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fillStyle = "rgba(184, 204, 228, 1)";
                canvas_ctx.fill();

                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*5, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fillStyle = "rgba(149, 179, 215, 1)";
                canvas_ctx.fill();
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*6, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*7, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fill();

                canvas_ctx.beginPath();
                canvas_ctx.rect(0, 50+item_height*8, 500, item_height);
                canvas_ctx.stroke();
                canvas_ctx.fillStyle = "rgba(54, 96, 146, 1)";
                canvas_ctx.fill();
                
                canvas_ctx.fillStyle = "black";
                canvas_ctx.font = "14px Verdana";
                canvas_ctx.fillText((current_lang == 'es') ? 'Orientación al cliente y al servicio' : 'Customer & Service Orientation',0,50+item_height-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Construcción de relaciones' : 'Relationship Building',0,50+item_height*2-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Comunicación con Impacto' : 'Communication with Impact',0,50+item_height*3-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Identificación de marca con BMW/ MINI' : 'Brand Identification with BMW/ MINI',0,50+item_height*4-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Solución de problemas' : 'Problem Solving',0,50+item_height*5-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Motivación para rendir y lograr resultados' : 'Motivation to Perform & Achieve Results',0,50+item_height*6-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Flexibilidad y voluntad de aprender' : 'Flexibility & Willingness to Learn',0,50+item_height*7-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Autogestión y resiliencia' : 'Self-Management & Resilience',0,50+item_height*8-20);
                canvas_ctx.fillText((current_lang == 'es') ? 'Orientación e integridad de equipo' : 'Team Orientation & Integrity',0,50+item_height*9-20);
                
                //target selection criteria
                canvas_ctx.strokeStyle = "rgba(0, 0, 0, 1)";
                canvas_ctx.lineWidth = 2.5;
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(342+pointsgap*(sjt_result[0].max-1), 70+40*0);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[1].max-1), 70+40*1);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[2].max-1), 70+40*2);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[3].max-1), 70+40*3);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[4].max-1), 70+40*4);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[5].max-1), 70+40*5);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[6].max-1), 70+40*6);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[7].max-1), 70+40*7);
                canvas_ctx.lineTo(342+pointsgap*(sjt_result[8].max-1), 70+40*8);
                canvas_ctx.stroke();
                /* canvas_ctx.strokeStyle = "green";
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(45*5+275,50+item_height/2);
                canvas_ctx.lineTo(45*4+275,50+item_height+item_height/2);            
                canvas_ctx.lineTo(45*4+275,50+2*item_height+item_height/2);            
                canvas_ctx.lineTo(45*5+275,50+3*item_height+item_height/2);            
                canvas_ctx.lineTo(45*4+275,50+4*item_height+item_height/2);            
                canvas_ctx.lineTo(45*4+275,50+5*item_height+item_height/2);            
                canvas_ctx.lineTo(45*4+275,50+6*item_height+item_height/2);            
                canvas_ctx.lineTo(45*5+275,50+7*item_height+item_height/2);            
                canvas_ctx.lineTo(45*5+275,50+8*item_height+item_height/2);          
                canvas_ctx.stroke(); */
                
                //crear cuadricula
                canvas_ctx.strokeStyle="black";
                canvas_ctx.fillStyle = "rgba(255, 255, 255, 1)";
                let radius=10;
                for (let i_column = 0; i_column < 5; i_column++) {
                    for (let i_row = 0; i_row < 9; i_row++) {
                        if(sjt_result[i_row].total==i_column+1){
                            if(sjt_result[i_row].total<sjt_result[i_row].min){
                                canvas_ctx.fillStyle = "rgba(216,12,12,1)";
                            }else if(sjt_result[i_row].total>sjt_result[i_row].min){
                                canvas_ctx.fillStyle = "rgba(0,153,51,1)";
                            }else{
                                canvas_ctx.fillStyle = "rgba(17,32,236,1)";
                            }
                        }else{
                            if(sjt_result[i_row].max==i_column+1){
                                canvas_ctx.fillStyle = "rgba(0, 0, 0, 1)";
                            }else{
                                canvas_ctx.fillStyle = "rgba(255, 255, 255, 1)";
                            }
                        }
                        
                        if(sjt_result[i_row].min==i_column+1){
                            canvas_ctx.lineWidth = 6;
                            radius=9;
                        }else{
                            canvas_ctx.lineWidth = 1;
                            radius=10;
                        }

                        canvas_ctx.beginPath();
                        canvas_ctx.arc( 342+pointsgap*i_column, 70+40*i_row, radius, 0, 2 * Math.PI);
                        canvas_ctx.stroke();
                        canvas_ctx.fill();
                    }
                }
                /*canvas_ctx.strokeStyle="black";
                canvas_ctx.setLineDash([2,2]);
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(320,50);
                canvas_ctx.lineTo(320,50+item_height*9);
                canvas_ctx.moveTo(365,50);
                canvas_ctx.lineTo(365,50+item_height*9);
                canvas_ctx.moveTo(410,50);
                canvas_ctx.lineTo(410,50+item_height*9);
                canvas_ctx.moveTo(455,50);
                canvas_ctx.lineTo(455,50+item_height*9);
                canvas_ctx.moveTo(500,50);
                canvas_ctx.lineTo(500,50+item_height*9);

                canvas_ctx.moveTo(275,50+item_height);
                canvas_ctx.lineTo(500,50+item_height);
                canvas_ctx.moveTo(275,50+item_height*2);
                canvas_ctx.lineTo(500,50+item_height*2);
                canvas_ctx.moveTo(275,50+item_height*3);
                canvas_ctx.lineTo(500,50+item_height*3);
                canvas_ctx.moveTo(275,50+item_height*4);
                canvas_ctx.lineTo(500,50+item_height*4);
                canvas_ctx.moveTo(275,50+item_height*5);
                canvas_ctx.lineTo(500,50+item_height*5);
                canvas_ctx.moveTo(275,50+item_height*6);
                canvas_ctx.lineTo(500,50+item_height*6);
                canvas_ctx.moveTo(275,50+item_height*7);
                canvas_ctx.lineTo(500,50+item_height*7);
                canvas_ctx.moveTo(275,50+item_height*8);
                canvas_ctx.lineTo(500,50+item_height*8);

                canvas_ctx.stroke();
                canvas_ctx.setLineDash([]); */

                //labels
                canvas_ctx.fillStyle = "black";
                canvas_ctx.font = "bold 24px Verdana";
                canvas_ctx.fillText("1",335,45);
                canvas_ctx.fillText("2",335+pointsgap,45);
                canvas_ctx.fillText("3",335+2*pointsgap,45);
                canvas_ctx.fillText("4",335+3*pointsgap,45);
                canvas_ctx.fillText("5",335+4*pointsgap,45);

                //minimum selection criteria
                /* canvas_ctx.strokeStyle = "red";
                canvas_ctx.lineWidth = 3;
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(45*3+275,50+item_height/2);
                canvas_ctx.lineTo(45*2+275,50+item_height+item_height/2);            
                canvas_ctx.lineTo(45*2+275,50+2*item_height+item_height/2);            
                canvas_ctx.lineTo(45*2+275,50+3*item_height+item_height/2);            
                canvas_ctx.lineTo(45*3+275,50+4*item_height+item_height/2);            
                canvas_ctx.lineTo(45*3+275,50+5*item_height+item_height/2);            
                canvas_ctx.lineTo(45*3+275,50+6*item_height+item_height/2);            
                canvas_ctx.lineTo(45*2+275,50+7*item_height+item_height/2);            
                canvas_ctx.lineTo(45*4+275,50+8*item_height+item_height/2);          
                canvas_ctx.stroke(); */

                //Results
                /* canvas_ctx.strokeStyle = "blue";
                canvas_ctx.beginPath();
                canvas_ctx.moveTo(45*sjt_result[0].total+275,50+item_height/2);
                canvas_ctx.lineTo(45*sjt_result[1].total+275,50+item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[2].total+275,50+2*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[3].total+275,50+3*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[4].total+275,50+4*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[5].total+275,50+5*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[6].total+275,50+6*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[7].total+275,50+7*item_height+item_height/2);            
                canvas_ctx.lineTo(45*sjt_result[8].total+275,50+8*item_height+item_height/2);          
                canvas_ctx.stroke(); */

                

                //labels

                canvas_ctx.fillStyle = "black";
                canvas_ctx.font = "bold 14px Verdana";
                canvas_ctx.fillText((current_lang == 'es') ? 'Referencias:' : 'Legend:',0, 450);
                canvas_ctx.fillText((current_lang == 'es') ? 'Resultados:' : 'Results:',280, 450);
                canvas_ctx.lineWidth = 1;
                canvas_ctx.fillStyle = "rgba(0, 0, 0, 1)";
                canvas_ctx.beginPath();
                canvas_ctx.arc( 30, 470, 10, 0, 2 * Math.PI);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.lineWidth = 6;
                canvas_ctx.fillStyle = "rgba(255, 255, 255, 1)";
                canvas_ctx.beginPath();
                canvas_ctx.arc( 30, 495, 9, 0, 2 * Math.PI);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.lineWidth = 1;
                canvas_ctx.fillStyle = "rgba(216,12,12,1)";
                canvas_ctx.beginPath();
                canvas_ctx.arc( 305, 470, 10, 0, 2 * Math.PI);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.fillStyle = "rgba(17,32,236,1)";
                canvas_ctx.beginPath();
                canvas_ctx.arc( 305, 495, 10, 0, 2 * Math.PI);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                canvas_ctx.fillStyle = "rgba(0,153,51,1)";
                canvas_ctx.beginPath();
                canvas_ctx.arc( 305, 520, 10, 0, 2 * Math.PI);
                canvas_ctx.stroke();
                canvas_ctx.fill();
                
                canvas_ctx.fillStyle = "black";
                canvas_ctx.font = "14px Verdana";
                canvas_ctx.fillText((current_lang == 'es') ? '= perfil deseado' : '= target profile',45, 475);
                canvas_ctx.fillText((current_lang == 'es') ? '= criterio mínimo de selección' : '= minimun criteria for selection',45, 500);
                canvas_ctx.fillText((current_lang == 'es') ? '= debajo del mínimo' : '= below minimun',320, 475);
                canvas_ctx.fillText((current_lang == 'es') ? '= exactamente lo mínimo' : '= exactly minimun',320, 500);
                canvas_ctx.fillText((current_lang == 'es') ? '= encima del mínimo' : '= above minimun',320, 525);

                canvas_ctx.fillStyle = "black";
                canvas_ctx.font = "bold 13px Verdana";
                canvas_ctx.fillText((current_lang == 'es') ? 'Escala de 5 puntos:' : '5-point scale:',0, 555);
                canvas_ctx.font = "13px Verdana";
                canvas_ctx.fillText((current_lang == 'es') ? '1 = insuficiente, 2 = ampliable, 3 = adecuado, 4 = avanzado, 5 = excelente' : '1 = insufficient, 2 = expandable, 3 = adequate, 4 = advanced, 5 = excellent',8, 570);
            }
          

            
            document.title = (current_lang == 'es') ? "Resultado <%= data.access_code_used%>" : "Result <%= data.access_code_used%>";
            document.getElementById("switch-lang").onclick = function() {
                document.title = (current_lang == 'en') ? "Resultado <%= data.access_code_used%>" : "Result <%= data.access_code_used%>";
                if (current_lang== 'en') {
                    current_lang='es';
                    myChart.data.datasets[1].label = 'Promedio del país';
                    createSJTReport();
                } else {
                    current_lang='en';
                    myChart.data.datasets[1].label = 'Country Average'
                    createSJTReport();
                }
                myChart.update();
            }
        </script>
        <script src="/js/exportpdfFonts.js"></script>        
        <script src="/js/exportpdf.js"></script>        
</body>

</html>