<!DOCTYPE html>
<html>

<head>
    <title lang="es">Evaluaciones</title>
    <title lang="en">Evaluations</title>
    <% include partials/head %>
</head>

<body>

    <% include partials/left_column %>

        <div class="main-panel">

            <% include partials/navbar %>
                <!-- Modal -->
                <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5>Se creara un nuevo codigo para la prueba "
                                    <%= assignment.test_name%>"
                                </h5>
                                <form class="form" role="form" action="/generate_new_code" method="post">
                                    <div class="form-group">
                                        <label for="GenerateCodes"> Cuantos códigos desea generar?</label>
                                        <input type="number" class="form-control" name="GenerateCodes" id="GenerateCodes" min="1" max="<%= assignment.users[0].codes_max - assignment.users[0].codes_used - assignment.users[0].codes_created %>"
                                            required/>
                                        <input name="access_list_id" id="access_list_id" style="display:none" value="<%=assignment.access_list_id%>" />
                                        <input name="assignment_id" id="assignment_id" style="display:none" value="<%=assignment._id%>" />
                                    </div>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">
                                    <%= assignment.test_name%>
                                </h2>
                            </div>
                            <br><br><br><br>

                            <div class="col-md-4 my-auto">
                                <div class="card text-center mx-auto" style="width: 18rem; height: 7.5rem">
                                    <div class="card-body">
                                        <h1 class="card-title">
                                            <%= resultsArray.length %>
                                        </h1>
                                        <h5 class="card-subtitle mb-2 text-muted">Códigos Usados</h5>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-auto">
                                <div class="card text-center mx-auto" style="width: 18rem; height: 7.5rem">
                                    <div class="card-body">
                                        <h1 class="card-title">                                            
                                            <%= codesArray.length%>
                                        </h1>
                                        <h5 class="card-subtitle mb-2 text-muted">Códigos Disponibles</h5>

                                        <div class="dropdown">
                                            <a href="#" class="card-link" data-toggle="dropdown" <% if (assignment.users[0].codes_created==0){%> hidden <%}%> ><h6>ver códigos</h6></a>

                                            <div class="dropdown-menu">
                                                <form>
                                                    <table class="table">
                                                        <tbody>
                                                            <% var col=1
                                                            for(var i=0; i<codesArray.length; i++){
                                                                if (col==1){%>
                                                                <tr>
                                                                    <%}%>
                                                                        <td>
                                                                            <%= codesArray[i].code%>
                                                                        </td>
                                                                        <% if (col==4){%>
                                                                </tr>
                                                                <%col=0;
                                                        }col++;} %>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-auto">
                                <div class="card text-center mx-auto" style="width: 18rem; height: 7.5rem">
                                    <div class="card-body">
                                        <h1 class="card-title">
                                            <%= assignment.users[0].codes_max - resultsArray.length - codesArray.length%>
                                        </h1>
                                        <h5 class="card-subtitle mb-2 text-muted">Códigos Restantes</h5>
                                        <h6><a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">crear
                                                nuevo código</a></h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hove container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title">Categorias</h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40%">Categoria</th>
                                                    <th style="width: 30%">Promedio</th>
                                                    <th style="width: 10%">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                    <th style="width: 20%">Respuestas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% categoriesArray.forEach(category=>{%>
                                                    <tr>
                                                        <td><%=category.name%></td>
                                                        <td>
                                                                <div class="progress ">
                                                                    <div class="progress-bar bg-success background-color:#aaa" role="progressbar" style="width: <%=category.percentage_sum/category.answers%>%;" aria-valuenow="<%=category.percentage_sum/category.answers%>" aria-valuemin="0"
                                                                        aria-valuemax="100"><%=category.percentage_sum/category.answers%>%</div>
                                                                </div>
                                                            </td>
                                                            <td></td>
                                                            <td><%=category.points_scored%>/<%=category.points_available_sum%></td>
                                                    </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hover container-fluid">
                                    <div class="card-header">
                                        <h4 class="card-title">Resultados</h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%">Código</th>
                                                    <th style="width: 16%">Porcentaje</th>
                                                    <th style="width: 16%">Puntaje</th>
                                                    <th style="width: 16%">Duración</th>
                                                    <th style="width: 16%">Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% resultsArray.forEach(function(item){%>
                                                    <tr>
                                                            <td><%=item.access_code_used%></td>
                                                            <td>
                                                                    <div class="progress"> 
                                                                        <div class="progress-bar <%if (item.passed=='true'){%>bg-success<% }else{%>bg-danger<%}; %>" role="progressbar" style="width: <%=item.percentage%>%;" aria-valuenow="<%=item.percentage%>" aria-valuemin="0" aria-valuemax="100"><%=item.percentage%>%</div>
                                                                    </div>
                                                                </td>
                                                                <td><%=item.points_scored%>/<%=item.points_available%></td>
                                                                <td><%=item.duration%></td>
                                                                <td><%date=new Date(item.time_finished*1000)%> <%=date.getDate()%>/<%=date.getMonth()%>/<%=date.getFullYear()%> </td>
                                                                <td><a href="#">Respuestas</a></td>
                                                    </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



        </div>
        <!--------------------------------------test-->
        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <!--------------------------------------test-->
</body>

</html>