<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/left_column %>
    <div class="main-panel">
        <% include partials/navbar %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card container-fluid">
                            <div class="card-header ">
                                <h4 lang="es">Evaluaciones disponibles para <%=data.consultant.email%>.</h4>
                                <h4 lang="en">Available assessments for <%=data.consultant.email%>.</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="40%" lang="es">Evaluaci贸n</th>
                                                <th scope="col" width="40%" lang="en">Assessment</th>
                                                <th scope="col" width="20%" lang="es" class="text-center">C贸digos Usados</th>
                                                <th scope="col" width="20%" lang="en" class="text-center">Used codes</th>
                                                <!-- <th scope="col" width="20%" lang="es" class="text-center">C贸digos Asignados</th>
                                                <th scope="col" width="20%" lang="en" class="text-center">Assigned codes</th> -->
                                                <th scope="col" width="20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.assignments.forEach(function(assignment){%>
                                            <tr>
                                                <td>
                                                    <%=assignment.name%>
                                                </td>
                                                <td class="text-center">
                                                    <%=assignment.codes_used%>
                                                </td>
                                                <!-- <td class="text-center">
                                                    <%=assignment.codes_max%>
                                                </td> -->
                                                <td class="text-center">
                                                    <a href="/test_view/<%=assignment.id%>/<%=data.consultant.id%>" lang="es">Ver evaluaci贸n</a>
                                                    <a href="/test_view/<%=assignment.id%>/<%=data.consultant.id%>" lang="en">Explore assessment</a>
                                                </td>
                                            </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    document.title=(Cookies.get("lang")=='es')?"Pruebas":"Tests";
        document.getElementById("switch-lang").onclick=function(){
            document.title=(Cookies.get("lang")=='en')?"Pruebas":"Tests";
        }
    </script>
</body>

</html>