<!DOCTYPE html>
<html lang="en">
<head>
	<title>Detalles de Evaluación</title>
    <% include partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>
<body>
 
<% 
    function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }
%>

<div class="main-panel">
    <% include partials/left_column %>
    <% include partials/navbar %>
    <div class="content">
        <div class="container-fluid">
            <% 
                rAc_array = []
                resultAc.forEach(function(rAc){
                    rAc_array.push(rAc.access_code)
                })
            %> 

            <% if(!rAc_array.includes(access_code)){ %>
    
                <div class="row">
                    <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Enlace "<%= access_code %>" no encontrado<br><br></h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            <% } else { %>

                <div class="row">
                    <div class="col-4">
                        <button onclick="history.back()" class="btn">Volver atrás</button>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Usuario con código de accesso: <%= access_code %><br><br></h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Resultados generales</h4>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Código de Accesso</th>
                                        <th>Puntos Obtenidos</th>
                                        <th>Puntos Totales</th>
                                        <th>Porcentaje</th>
                                        <th>Cantidad preguntas</th>
                                        <th>Tiempo</th>
                                        <th>Fecha presentación</th>
                                        <th>Categoría(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% result.forEach(function(items){ %> 
                                    <tr>
                                    <!-- Filtrar id_inst con id capturado del instructor -->
                                    
                                    <td><%= items.access_code %></td>
                                    <td><%= items.points_scored %></td>
                                    <td><%= items.points_available %></td>
                                    
                                    <td><%= items.percentage %>% </td>
                                    <% if(items.questions){ %>
                                    <td>
                                        <%= items.questions.length%>  
                                    </td>
                                    <% } %>
                                    <td><%= items.duration %> </td>
                                    <td>
                                        <%= timeConverter(items.time_started) %>
                                    </td>
                                    <% if(items.category_results){ %>
                                    <td>
                                        <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
                                        - <%= items.category_results[i].name %><br> <% } %>  
                                    </td>
                                    <% } %>
                                    
                                    <% });%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                

                
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Resultados por categorías</h4>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Porcentaje</th>
                                    <th>Puntos obtenidos</th>
                                </tr>
                            </thead> 
                                <% result.forEach(function(results){ %>
                                    <%long_c=(results.category_results.length); for(i=0; i<long_c; i++){ %>
                            <tbody>
                                <tr>
                                    <th>
                                        <%= results.category_results[i].name %> 
                                    </th>
                                    <th>
                                        <%= results.category_results[i].percentage %>% 
                                    </th>
                                    <th>
                                        <%= results.category_results[i].points_scored %> 
                                    </th>
                                    
                                </tr>
                            </tbody>
                            <% } %>  
                            <% })%>
                            </table>
                        </div>
                    </div>
                    
                <% finalResult = [] %>
                <% finalName = [] %>
                <% finalCount = [] %>
                <% finalMedia = [] %>
                        
                         <% 
                             var var_percentage=0
                             var id
                             var id_a=0
                             
                             
                            result.forEach(function(results){ %>
                            <%longitud=(results.category_results.length)
                            for(i=0; i<longitud; i++){ %>
                            
                            <%results.category_results[i].category_id  %>
                            <% 
                             
                             var por
                             var por_a
                             var por_b=0
                             var count=0
                             
                             %>
                                    <% allResult.forEach(function(allR){ %>
                                    <% long=(allR.category_results.length); %>
                                    <% for(a=0; a<long; a++){ %>
                                    <% if(allR.category_results[a].category_id==results.category_results[i].category_id){ %>
                            
                                        <% id=allR.category_results[a].category_id %>
                                        <% if((id_a==id)||(id_a==0)){ %>
                                        <%por=allR.category_results[a].percentage %>
                                        <% por_a=por_b+por %>
                                        <% }else{ %>
                                        <%por_b=0%>
                                        <%por=allR.category_results[a].percentage %>
                                        <% por_a=por_b+por %>
                                        <% } %>
                                        
                                        <%name=allR.category_results[a].name%>
                                        <%por_b=por_a %>
                                        <% count=count+1 %>
                                        <% fn=por_b/count %>
                                        
                                     
                            <% } %>
                             
                            <% } %>  
                            
                            <% })%> 
                            
                            

                            
                            <% finalResult.push(por_b) %>
                            <% finalName.push(name) %>
                            <% finalCount.push(count) %>
                            <% finalMedia.push(fn) %>
                            
                            <% } %>
                            <% }) %>
                            
                
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Estadísticas de categorías</h4>
                            <p class="card-category">Significado de color. <br>
                            <br/> 
                            En color <b style="background-color: #0B0B61; color:#0B0B61">choosecolor</b> Porcentaje del participante obtenido en la categoría seleccionada
                            <br /> 
                            En color <b style="background-color: #FF8000; color:#FF8000">choosecolor</b> Promedio del porcentaje obtenido por los demas participantes en la categoría seleccionada
                            </p>
                            <br>
                        </div>
                    </div>
                        
                
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Categorías presentadas</h4>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <canvas id="category_chart" height="400" width="900"></canvas>
                            </div>
                        </div>

                
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Resultados de preguntas</h4>
                            <p class="card-category">Significado de simbolos de preguntas. <br>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fas fa-check text-success"></i>
                                </div>
                                <div class="col-md-9">
                                    <p>Respuesta Correcta.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fas fa-times text-danger"></i>
                                </div>
                                <div class="col-md-9">
                                    <p>Respuesta incorrecta.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fas fa-check text-danger"></i>
                                </div>
                                <div class="col-md-9">
                                    <p>Respuesta correcta que el participante no seleccionó.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="row">

                <% result.forEach(function(items){
                    if(items.questions){ 
                        long=(items.questions.length);
                        for(var i=0; i<long; i++){
                            if(items.questions[i].question_type == "multiplechoice"){ %>

                            <div class="col-md-9">
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        <h4 class="card-title">


                                        <% var str = items.questions[i].question %>
                                                
                                               
                                        <% if(((str.includes("http"))&&(str.includes("jpg")))||(str.includes('"/>'))){ %>
                                            
                                            <% var str = items.questions[i].question %>
                                            <% var n = str.search("http") %>
                                            <% var m = str.search("jpg") %>
                                            <%str%>
                                            
                                            <% var img = [] %>
                                            <% for(b=n; b<=m+2; b++){  %>
                                                <% img.push(str[b]) %>
                                            <% } %>
                                            <% var imgString=img.toString(); %>
                                            <% var buscar = "," %>
                                            <% strImg=imgString.replace(new RegExp(buscar,"g"),"") %>
                                            
                                            <%str%>
                                        
                                            
                                            <% var NoImg = [] %>
                                            <% var o = str.search('"/>') %>
                                            <% for(b=n-10; b<=o+2; b++){  %>
                                            <% NoImg.push(str[b]) %>
                                            <% } %>
                                            <% var NoImgString=NoImg.toString(); %>
                                            <% NoImgString%>
                                            <% NoImgString=NoImgString.replace(new RegExp(buscar,"g"),"") %>
                                            <% NoImgString%>
                                            
                                            <% var br = str.search("<br />") %>
                                            <% brComplete = [] %>
                                            <% for(b=br; b<=br+5; b++){  %>
                                            <% brComplete.push(str[b]) %>
                                            <% } %>
                                            
                                            <%brComplete%>
                                            <%brCompleteString=brComplete.toString()%>
                                            <% brCompleteString=brCompleteString.replace(new RegExp(buscar,"g"),"") %>
                                            <%brCompleteString%>
                                            
                                            
                                            <% strNobr=str.replace(new RegExp(NoImgString,"g"),"") %>
                                            <% strNoimgFinal=strNobr.replace(new RegExp(brCompleteString,"g"),"") %>
                                            <%= strNoimgFinal%>
                                            <br><img src="<%=strImg%>" width="200">
                                            
                                            <% }else{ %>
                                            
                                            <%=items.questions[i].question%>
                                            
                                        <% } %>

                                        </h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Opciones de respuesta</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                            <tbody>

                                            <% 
                                            var rtaCorrecta = 0;
                                            var numberAnswers = items.questions[i].options;
                                            var correct_opt = items.questions[i].correct_option;

                                            function arr_diff (a1, a2) {
                                                var a = [], diff = [];
                                                for (var i = 0; i < a1.length; i++) {
                                                    a[a1[i]] = true;
                                                }
                                                for (var i = 0; i < a2.length; i++) {
                                                    if (a[a2[i]]) {
                                                        delete a[a2[i]];
                                                    } else {
                                                        a[a2[i]] = true;
                                                    }
                                                }
                                                for (var k in a) {
                                                    diff.push(k);
                                                }
                                                return diff;
                                            }

                                            /** If user answered */
                                            if(items.questions[i].user_response){
                                                var userres = items.questions[i].user_response;
                                                var keyAnswers = Object.keys(numberAnswers);
                                                var splitCorrect = correct_opt.split(',');
                                                var splitUserAns = userres.split(',');
                                                var classRender = "bg-light text-dark";
                                                var classRenderAr = []
    
                                                console.log(items.questions[i])
    
                                                
    
                                                // Review of to do
                                                /** * Render the answer options */

                                                for(var ans=0; ans<keyAnswers.length;ans++){                                                
                                                    %>
                                                    <tr class="bg-light  text-dark">
                                                        <td style="width:100%; border-top: 1px solid white;"><%= numberAnswers[keyAnswers[ans]] %></td>
                                                        <%
                                                         /** CORRECT Correct Option */
                                                        if(items.questions[i].result=="correct"){
                                                            /** Right Answer = rans */
                                                            for(var rans=0; rans<splitCorrect.length;rans++){
                                                                /** Answers with 1 or more correct options */
                                                                    if(keyAnswers[ans] == splitCorrect[rans]){ %>
                                                                        <td style="border-top: 1px solid white;"><i class="fas fa-check text-success"></i></td>
                                                                    <% }
                                                            }
                                                        /** Wrong Answers */
                                                        }else{
                                                            var contMultiAnswe = 0;
                                                            var contMultWrong = 0;
                                                            /** Go through user answers */
                                                            for(var rus=0; rus<splitUserAns.length;rus++){
    
                                                                /** If there are more than one answer */
                                                                if(splitUserAns.length > 1){
                                                                    for(var rans=0; rans<splitCorrect.length;rans++){
                                                                        
                                                                        /** Get the correct answers to compare */
                                                                        if(keyAnswers[ans] == splitCorrect[rans]){
                                                                            contMultiAnswe ++;
                                                                            /* Render once */
                                                                            if(contMultiAnswe == 1){ 
                                                                                /** The user answer minus or more options than the correct answer */
                                                                                if(splitCorrect.length < splitUserAns.length){ %>
                                                                                    <td style="border-top: 1px solid white;"><i class="fas fa-check text-success"></i></td>
                                                                                <% }else{ 
                                                                                    /** Compare and dif arrays when the user response is lowest than the correct option */
                                                                                    var overdifAnsw = arr_diff(splitUserAns,splitCorrect);
    
                                                                                    for(var miss=0;miss<overdifAnsw.length;miss++){
                                                                                        if(keyAnswers[ans] == overdifAnsw[miss]){ %>
                                                                                            <td style="border-top: 1px solid white;"><i class="fas fa-check text-danger"></i></td>
                                                                                        <%}else{ %>
                                                                                            <td style="border-top: 1px solid white;"><i class="fas fa-check text-success"></i></td>
                                                                                        <% }
                                                                       
                                                                                    }
                                                                                 }
                                                                            }
                                                                        /** Get the wrong options */
                                                                        }else if(keyAnswers[ans] == splitUserAns[rus]){
                                                                            contMultWrong ++;
                                                                            if(contMultWrong == 1){
                                                                                /** Make difference between arrays */
                                                                                var difWrongandRight = arr_diff(splitCorrect, splitUserAns)
    
                                                                                for(var dif=0; dif<difWrongandRight.length;dif++){
                                                                                    if(keyAnswers[ans] == difWrongandRight[dif]){
                                                                                        %>
                                                                                        <td style="border-top: 1px solid white;">
                                                                                            <i class="fas fa-times text-danger"></i>
                                                                                        </td>
                                                                                        <%
                                                                                    }
                                                                                }    
                                                                            }
                                                                        }
                                                                    }
                                                                }else{
                                                                    /** For one correct answer */
                                                                    for(var rans=0; rans<splitCorrect.length;rans++){
                                                                        if(keyAnswers[ans] == splitCorrect[rans]){
                                                                            %><td style="border-top: 1px solid white;"><i class="fas fa-check text-success"></i></td><%
                                                                        }else if(keyAnswers[ans] == splitUserAns[rus]){
                                                                            %><td style="border-top: 1px solid white;"><i class="fas fa-times text-danger"></i></td><%
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
    
                                                        %>
                                                    </tr>
                                                <% } 
                                                }else{ %>
                                                    <tr><td class="text-warning">Esta pregunta no ha sido respondida por el participante.</td></tr>
                                                <% } %>
                                            </tbody>
                                        </table>                            
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">Nombre de categoría</h6>    
                                        <h4 class="card-title">
                                        
                                        <% long_b=(items.category_results.length);
                                            for(a=0; a<long_b; a++){ %>
                                                <% if((items.category_results[a].category_id)==(items.questions[i].category_id)) {%>
                                                <%= items.category_results[a].name  %>
                                        <% } } %>
                                        
                                        </h4>
                                        <hr />
                                        <h6 class="card-subtitle mb-2 text-muted">Estado</h6>  
                                        <% if(items.questions[i].result=="correct"){ %>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img width="50px" 
                                                    height="50px" 
                                                    src='http://img110.xooimage.com/files/6/f/0/si-5434f08.png'>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>El participante respondió correctamente.</p>
                                                </div>
                                            </div>
                                            
                                        <% }else{ %>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img width="50px" 
                                                    height="50px" 
                                                    src='http://img110.xooimage.com/files/5/7/3/no-5434f0b.png'>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>El participante no respondió correctamente.</p>
                                                </div>
                                            </div>
                                        <% } %>
                                        <%
                                          if(items.questions[i].result != "correct"){ %>
                                            <hr />
                                            <p>Respuesta correcta: <%= items.questions[i].correct_option %></p>
                                            <p>Respuesta del participante: <%= items.questions[i].user_response %></p>                                          
                                        <% } %>
                                    </div>
                                </div> 
                            </div>
                    
                    <% }}}}) %>

                </div>


            <% } %>

            <% promedio = [] %>
            
            <% result.forEach(function(results){ %>
               <%long=(results.category_results.length); for(i=0; i<long; i++){ %>
               
               <% promedio.push(finalMedia[i]) %>
               
           
            <% } %>  
           <% })%>

           <% par_array = [] %>
           <% pro_array = [] %>
           <% cat_name = [] %>
           <% var map_participantes = promedio.map(function(x){ %>
           <% pro_array.push(x.toFixed(2))%> 
           <% }) %>
           <br>
           <% result.forEach(function(results){ %>
               <%long=(results.category_results.length);%>
               <% var map_participantes = results.category_results.map(function(x){ %>
               <% par_array.push(x.percentage.toFixed(2))%> 
               <% cat_name.push(x.name)%> 
               <% }) %>
           <% }) %>
                       
                       
           <%par_array %>
           <%pro_array  %>
           <% cat_name %>
           
   
       <script>
   
           var test = <%-JSON.stringify(par_array) %>; 
           var test_a = <%-JSON.stringify(pro_array) %>; 
           var test_b = <%-JSON.stringify(cat_name) %>; 
   
           new Chart(document.getElementById("category_chart"), {
               type: 'bar',
               data: {
               labels: test_b,
               datasets: [
                   {
                   label: "% Participante",
                   backgroundColor: "#0B0B61",
                   data: test
                   }, {
                   label: "% Promedio por categoría",
                   backgroundColor: "#FF8000",
                   data: test_a
                   }
                   ]},
               options: {
               title: {
                   display: false,
                   text: 'Resultados Participante y Categorías'
               },
               scales: {
                   xAxes: [{
                       barThickness : 63
                   }],
                   yAxes: [{
                          display: true,
                          ticks: {
                          max: 100
                          }
                      }]
               }
           }
           });
       </script>


        </div>     
    </div>
</div>

</body>

</html0>