<!DOCTYPE html>
<html lang="en">
<head>
	<title>Detalles de Evaluación</title>
	<% include partials/head %>
</head>
<body>
    
    <% 
    function timeConverter(UNIX_timestamp)
    {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }
    %>

    <div class="main-panel">
        <% include partials/navbar %>
        <div class="content">
            <div class="container-fluid">
               
                <% 
                rAc_array = []
                resultAc.forEach(function(rAc){
                    rAc_array.push(rAc.access_code)
                })
                
                %>
                                            
                <% if(!rAc_array.includes(access_code)){%>
                
                <div class="row">
                      <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Enlace "<%= access_code %>" no encontrado<br><br></h4>
                            </div>
                        </div>
                        </div>
                        </div>
                
                <% }else{ %>
                
                <div class="row">
                    <div class="col-4"  >
                          <br>
                      </div>
                      <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Usuario con código de accesso: <%= access_code %><br><br></h4>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                                <h4 class="card-title">Resultados generales</h4>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                               <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código de Accesso</th>
                                            <th>Puntos Obtenidos</th>
                                            <th>Puntos Totales</th>
                                            <th>Porcentaje</th>
                                            <th>Cantidad preguntas</th>
                                            <th>Tiempo</th>
                                            <th>Fecha presentación</th>
                                            <th>Categoría(s)</th>
                                            
                                            
                                        </thead>
                                        <tbody>
                                            
                                        <!-- TODO hacer lista de json y comparar para mostrar los que 
                                        ya se presentaron con la consulta a la base de datos -->
                                            
                                        <% result.forEach(function(items){ 
                                            
                                            %> 
                                        <tr>
                                          <!-- Filtrar id_inst con id capturado del instructor -->
                                          
                                        <td><%= items.access_code %></td>
                                        <td><%= items.points_scored %></td>
                                        <td><%= items.points_available %></td>
                                        
                                        <td><%= items.percentage %>% </td>
                                        <% if(items.questions){ %>
                                        <td>
                                            <%= items.questions.length%>  
                                        </td>
                                        <% } %>
                                        <td><%= items.duration %> </td>
                                        <td>
                                            <%= timeConverter(items.time_started) %>
                                        </td>
                                        <% if(items.category_results){ %>
                                        <td>
                                            <%long=(items.category_results.length); for(i=0; i<long; i++){ %>
                                            - <%= items.category_results[i].name %><br> <% } %>  
                                        </td>
                                        <% } %>
                                        
                                        <% });%>
                                          </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </div>
                                
                        <!-- detalles preguntas -->
                        
                        <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                                <h4 class="card-title">Resultados preguntas</h4>
                                <p class="card-category">Listado de respuestas del participante. 
                                    <br/> 
                                    En color <b style="background: rgb(17, 216, 93); color: rgb(17, 216, 93);">Verde</b> están las RESPUESTAS CORRECTAS del participante. 
                                    <br /> 
                                    En color <b style="background: rgb(216, 17, 17); color: rgb(216, 17, 17);">Rojo</b> están las RESPUESTAS INCORRECTAS del participante. 
                                    <br /> 
                                    En color <b style="background: rgb(174, 211, 158); color: rgb(174, 211, 158);">Verde</b> están las RESPUESTAS CORRECTAS que el participante no acertó.
                                </p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                               <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Pregunta</th>
                                            <th>Respuesta A</th>
                                            <th>Respuesta B</th>
                                            <th>Respuesta C</th>
                                            <th>Respuesta D</th>
                                            <th>Categoría</th>
                                            <th>Estado</th>
                                            <th></th>
                                            <th></th>
                                            
                                        </thead>
                                        <tbody>
                                            
                                        <!-- TODO hacer lista de json y comparar para mostrar los que 
                                        ya se presentaron con la consulta a la base de datos -->
                                         
                                        <% result.forEach(function(items){
                                            
                                             %>    
                                        <% if(items.questions){ 
                                            
                                            %>
                                        <% long=(items.questions.length); 
                                        
                                            for(i=0; i<long; i++){ 

                                            if(items.questions[i].question_type == "multiplechoice" || items.questions[i].question_type == "truefalse"){ %>
                                            
                                        <tr>
                                          <!-- Filtrar id_inst con id capturado del instructor -->
                                          
                                            <td>
                                                <%= items.questions[i].question %>
                                            </td>
                                        <%
                                            if(items.questions[i].question_type == "multiplechoice"){

                                                var resA = "rgba(255,255,255,0)",resB = "rgba(255,255,255,0)",resC = "rgba(255,255,255,0)",resD = "rgba(255,255,255,0)"
                                                var correctans = "rgba(255,255,255,0)"

                                                if(items.questions[i].correct_option == "A"){
                                                    resA = "rgb(174, 211, 158)"
                                                }else if(items.questions[i].correct_option == "B"){
                                                    resB = "rgb(174, 211, 158)"
                                                }else if(items.questions[i].correct_option == "C"){
                                                    resC = "rgb(174, 211, 158)"
                                                }else{
                                                    resD = "rgb(174, 211, 158)"
                                                }

                                                if(items.questions[i].user_response == "A" && items.questions[i].correct_option == "A"){
                                                    resA = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "A"){
                                                    resA = "rgb(216, 17, 17)"
                                                }
                                                if(items.questions[i].user_response == "B" && items.questions[i].correct_option == "B"){
                                                    resB = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "B"){
                                                    resB = "rgb(216, 17, 17)"
                                                }
                                                if(items.questions[i].user_response == "C" && items.questions[i].correct_option == "C"){
                                                    resC = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "C"){
                                                    resC = "rgb(216, 17, 17)"
                                                }
                                                if(items.questions[i].user_response == "D" && items.questions[i].correct_option == "D"){
                                                    resD = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "D"){
                                                    resD = "rgb(216, 17, 17)"
                                                }
                                                
                                                %>
                                                    <td style="background: <%= resA %>;"><%= items.questions[i].options.A %></td>
                                                    <td style="background: <%= resB %>;"><%= items.questions[i].options.B %></td>
                                                    <td style="background: <%= resC %>;"><%= items.questions[i].options.C %></td>
                                                    <td style="background: <%= resD %>;"><%= items.questions[i].options.D %></td>
                                                <%
                                                if(items.questions[i].options.E){
                                                    if(items.questions[i].user_response = "E"){
                                                        resE = "rgba(255,0,0,1)"
                                                    }else if(items.questions[i].user_response == "E"){
                                                    resB = "rgb(216, 17, 17)"
                                                }
                                                    %>
                                                    <td><%= items.questions[i].options.A %></td>
                                                    <td><%= items.questions[i].options.B %></td>
                                                    <td><%= items.questions[i].options.C %></td>
                                                    <td><%= items.questions[i].options.D %></td>
                                                    <td><%= items.questions[i].options.E %></td>
                                                <%
                                                }
                                                if(items.questions[i].options.F){
                                                    %>
                                                    <td><%= items.questions[i].options.A %></td>
                                                    <td><%= items.questions[i].options.B %></td>
                                                    <td><%= items.questions[i].options.C %></td>
                                                    <td><%= items.questions[i].options.D %></td>
                                                    <td><%= items.questions[i].options.E %></td>
                                                    <td><%= items.questions[i].options.F %></td>
                                                <%
                                                }
                                            }else if(items.questions[i].question_type == "truefalse"){
                                                var rA = "rgba(255,255,255,0)",rB = "rgba(255,255,255,0)"
                                                if(items.questions[i].user_response == "A" && items.questions[i].correct_option == "A"){
                                                    rA = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "A"){
                                                    rA = "rgb(216, 17, 17)"
                                                }
                                                if(items.questions[i].user_response == "B" && items.questions[i].correct_option == "B"){
                                                    rB = "rgb(17, 216, 93)"
                                                }else if(items.questions[i].user_response == "B"){
                                                    rB = "rgb(216, 17, 17)"
                                                }

                                                %>
                                                    <td style="background: <%= rA %>;"><%= items.questions[i].options.A %></td>
                                                    <td style="background: <%= rB %>;"><%= items.questions[i].options.B %></td>
                                                    <td></td>
                                                    <td></td>
                                                <%
                                            }
                                        %>

                                        <td>
                                        <%long_b=(items.category_results.length);
                                        for(a=0; a<long_b; a++){ %>
                                        <% if((items.category_results[a].category_id)==(items.questions[i].category_id)) {%>
                                        <%= items.category_results[a].name  %>
                                        <% } } %>
                                        </td>
                                        
                                        <td><% if(items.questions[i].result=="correct"){ %>
                                            <img width="50px" 
                                            height="50px" 
                                            src='http://img110.xooimage.com/files/6/f/0/si-5434f08.png'>
                                        <% }else{ %>
                                            <img width="50px" 
                                            height="50px" 
                                            src='http://img110.xooimage.com/files/5/7/3/no-5434f0b.png'>
                                        <% } %>
                                        </td>
  
                                         </tr>
                                        <% }} } })%>  
                                          </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </div>

                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Categorias presentadas</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Categoria</th>
                                            <th>Porcentaje</th>
                                            <th>Puntos obtenidos</th>
                                        </tr>
                                    </thead> 
                                     <% result.forEach(function(results){ %>
                                            <%long_c=(results.category_results.length); for(i=0; i<long_c; i++){ %>
                                    <tbody>
                                        <tr>
                                            <th>
                                               <%= results.category_results[i].name %> 
                                            </th>
                                            <th>
                                                <%= results.category_results[i].percentage %>% 
                                            </th>
                                            <th>
                                                <%= results.category_results[i].points_scored %> 
                                            </th>
                                            
                                        </tr>
                                    </tbody>
                                    <% } %>  
                                    <% })%>
                                    </table>
                                    </div>
                                  </div>
                               </div>
                            </div>
                            
                            
                            <!-- Media promedio en una categoria -->
                            
                            <!--
                             <% finalResult = [] %>
                             <% finalName = [] %>
                             <% finalCount = [] %>
                             <% finalMedia = [] %>
                             <% 
                             var var_percentage=0
                             var id
                             var id_a=0
                             
                             
                             
                            result.forEach(function(results){ %>
                            <%longitud=(results.category_results.length)
                            for(i=0; i<longitud; i++){ %>
                            
                            <%results.category_results[i].category_id  %>
                            <% 
                             
                             var por
                             var por_a
                             var por_b=0
                             var count=0
                             
                             %>
                                    <% allResult.forEach(function(allR){ %>
                                    <% long=(allR.category_results.length); %>
                                    <% for(a=0; a<long; a++){ %>
                                    <% if(allR.category_results[a].category_id==results.category_results[i].category_id){%>
                            
                            
                                        <% id=allR.category_results[a].category_id %>
                                        <% if((id_a==id)||(id_a==0)){ %>
                                        <%por=allR.category_results[a].percentage %>
                                        <% por_a=por_b+por %>
                                        <% }else{ %>
                                        <%por_b=0%>
                                        <%por=allR.category_results[a].percentage %>
                                        <% por_a=por_b+por %>
                                        <% } %>
                                        
                                        <%name=allR.category_results[a].name%>
                                        <%por_b=por_a %>
                                        <% count=count+1 %>
                                        <% fn=por_b/count %>
                                        
                                        
                                        <br><br>
                                        <id: <%=allR.category_results[a].category_id%><br>
                                        name: <%=allR.category_results[a].name%> <br>
                                        porcentaje: <%=allR.category_results[a].percentage%><br>
                                        porcentaje suma:<%= por_b %><br>
                                        <br>
                                     
                            <% } %>
                             
                            <% } %>  
                            
                            <% })%> 
                            
                            <br><br><br>
                            
                            <b>Resultado TOTAL:</b> <%=por_b%><br>
                            <b>Nombre Categoria:</b> <%= name %><br>
                            <b>Cantidad:</b> <%=count%><br>
                            <b>Porcentaje:</b> <%= fn %>
                            
                            <% finalResult.push(por_b) %>
                            <% finalName.push(name) %>
                            <% finalCount.push(count) %>
                            <% finalMedia.push(fn) %>
                            
                            <br><br><br>
                            <% } %>
                            <% }) %>
                            
                            FINAL PORCENTAJES <%=finalResult%><br>
                            FINAL NAMES <%=finalName%><br>
                            FINAL COUNT <%=finalCount%><br>
                            FINAL MEDIA <%=finalMedia%><br>
                            
                            
                        
                            <!-- Media promedio en una categoria -->
                      
                        <div class="card strpied-tabled-with-hover">      
                    <div class="card-header ">
                                <h4 class="card-title">Estadisticas de categorias</h4>
                                <p class="card-category">Significado de color. <br>
                                    <br/> 
                                     En color <b style="background-color: #003851; color:#003851">choosecolor</b> Porcentaje del participante obtenido en la categoría seleccionada
                                    <br /> 
                                    En color <b style="background-color: #2E64FE; color:#2E64FE">choosecolor</b> Promedio del porcentaje obtenido por los demas participantes en la categoría seleccionada
                                    
                                </p><br>
                            </div></div>
                            
                    
                    <div class="row">
                        <!--  ForEach para capturar category_id y mostrarlo en getElementById -->
                        <% result.forEach(function(results){ %>
                            <%long=(results.category_results.length); for(i=0; i<long; i++){ %>
                            <div class="col-6">
                                <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title"><%= results.category_results[i].name  %></h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <canvas id="<%= results.category_results[i].category_id %>" height="400" width="400"></canvas>
                                </div>
                                </div>
                            </div>
                            <% } %>  
                        <% })%>   
                        
                        <% } %>
                    </div>
                    
                     </div>
                  </div>
             </div>
        </div>
      </div>
 <% include partials/left_column %>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
 
 <!--  ForEach para capturar category_id y mostrarlo en getElementById -->
 
 <% result.forEach(function(results){ %>
    <%long=(results.category_results.length); for(i=0; i<long; i++){ %>
    
      <script>
      /*global item*/
      
      var category_id = <%=results.category_results[i].category_id%> 
      console.log("TECLADE", category_id)
      
      var valor = <%=results.category_results[i].percentage%>
      var media = <%=finalMedia[i]%>
      
      new Chart(document.getElementById(category_id), {
      type: 'bar',
       data: {
         labels: ["", "", "participante " + valor.toFixed(2) + "%", "promedio " + media.toFixed(2) + "%", "" ],
         datasets: [
           {
             label: "",
             backgroundColor: ["", "","#003851","#2E64FE",""],
             data: [0,0,valor.toFixed(2),media.toFixed(2),0]
           }
         ]
       },
       options: {
         legend: { display: false },
         title: {
           display: true,
           text: 'Estadistica porcentaje obtenido' 
         },
         scales: {
           xAxes: [{
               display: true,
               scaleLabel: {
               display: true
               }
               }],
           yAxes: [{
               display: true,
               ticks: {
               beginAtZero: true,
               steps: 10,
               stepValue: 5,
               max: 100
               }
           }]
          }
       }
   });
   </script>

 <% } %>  
<% })%>

</body>

</html>

                          